[2020-01-28 21:22] alper commented on #439
I have the same problem and hav everything installed in a `pipenv`.

[2020-01-29 00:37] #607 closed

[2020-01-29 02:53] aoberoi commented on #605
Thanks for filing the issue. I was able to verify it, so I've added the bug label. As I noted in #606, we're currently revisiting the concurrency related issues in this project. I've added the `area:concurrency` label to bring this issue into that context.

[2020-01-29 23:55] stevengill commented on #600
Hey @jsoref!

Long time no chat! Looks like @shaydewael fixed these up. I'm going to go ahead and close this one.

[2020-01-29 23:55] #600 closed

[2020-01-30 00:10] #586 closed

[2020-01-30 10:29] kumarbalap commented on #476
Same issue, irrespective of whether run_async true or not.. hitting the same error.
If you are not able to resolve, then why are are mixing up with sync and async.. going back to rest api and handle from my end.

[2020-01-30 12:05] jimmy927 commented on #326
This still seems to be an issue.

If i connect with the xoxp-* token i get: **not_allowed_token_type**
If i connect with the xoxb-* token i get: The server responded with: {'ok': False, 'error': 'missing_scope', 'needed': '**rtm:stream**' [...]

I have given the app all permissions possible.

[2020-01-30 14:44] MBhiwandkar opened #610 "AttributeError: module 'slack' has no attribute 'WebClient' in virtual environment for Mac OS Mojave 10.14.6"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x ] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [ x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/python-slackclie

[2020-01-30 14:59] MBhiwandkar commented on #610
Also after deploying the application on AWS Elastic Beanstalk environment the above slack functionality of posting the message in particular slack channel also fails just like it fails in the virtual environment. Want to know exact reason of this failure?

[2020-02-01 00:32] senpay commented on #436
Hello, just in case you're interested - I have forked slacker and merged the abandon PR there. New package is available in Pypi by name "Slacker2"

[2020-02-03 09:22] Havdiak commented on #609
same storym but on linux

[2020-02-03 19:46] stevengill commented on #609
Hmm. Question, did either of you update your apps to the new granular scopes? Granular scopes don't support RTM. That might be why you are seeing this. You can still create a classic slack app if you need to test this at https://api.slack.com/rtm#create_a_classic_slack_app.

[2020-02-03 20:54] stevengill commented on #326
@jimmy927, the new granular scopes (new xoxb-* token) don't support RTM. You can create a [classic slack app](https://api.slack.com/rtm#create_a_classic_slack_app) if you need to create a new token. But keep in mind that the Slack App Directory will stop accepting new app submissions for classic slack apps on Feb 21, 2020.

Instead of RTM, we recommend using the [Events API](https://api.slack.com/

[2020-02-03 21:13] stevengill commented on #610
Hey @MBhiwandkar,

I just tried to reproduce your code and it worked fine.

Maybe try updating your slack client version to the latest?

`pip3 install slackclient`

[2020-02-04 00:15] amckenna-pinterest opened #611 "RTM API exits upon callback raising exception"
### Description

TLDR: If a callback function throws an exception back to RTM, it stops sending events until the bot is restarted.  Not sure whether this is intended behavior or not.

I've been investigating random RTM disconnects in 24-72 hour timeframe since we started version 2.4.0.  At least one of the causes appears to be related to an error in a handler callback:
[code]

We are using RTM API

[2020-02-04 00:18] amckenna-pinterest commented on #611
I've verified that the test code still crashes on 2.5.0.

[2020-02-04 17:53] LucasArruda commented on #262
@soerendip https://github.com/stevenosloan/slack-notifier

[2020-02-04 20:01] jimmy927 commented on #326
I see. I think that event-API looks good it solves some problems, but at additional complexity. To set up a lot of different endpoints in my app is just much more work and more complex when i just need to build a simple chatbot that responds to some simple commands. Also you assume i have some app somewhere that can receive your calls.

[2020-02-04 20:36] stevengill commented on #326
@jimmy927 I understand the issue about having to spend time updating an app that already works for you.

If you aren't distributing your app to the App Directory, you can continue to use RTM. Just use the Classic Slack App as I mentioned above.

Events API does need some sort of backend to receive events and handle posting to a channel.

[2020-02-04 20:47] jimmy927 commented on #326
I am actually migrating from python slackclient 1.x, and according to the migration guide i should use RTM, see here:  https://github.com/slackapi/python-slackclient/wiki/Migrating-to-2.x

However i am now following this guide instead.

https://medium.com/@ronakbansal/how-to-build-slack-bot-with-python-django-using-events-api-670460930172

I do have an backend that is reliable, i just think you sh

[2020-02-04 20:58] stevengill commented on #326
@jimmy927 thanks for pointing out that the migration guide is using rtm. I will file an issue to get that updated.

That guide on medium looks useful. I'd also recommend checking out our [python tutorials on GitHub](https://github.com/slackapi/python-slackclient/tree/master/tutorial). These have been recently updated to use events instead of RTM since the granular scopes changes.

We are also inve

[2020-02-04 21:00] stevengill opened #612 "migration guide is very RTM focused"
### Description

The current [migration guide to 2.x](https://github.com/slackapi/python-slackclient/wiki/Migrating-to-2.x) is very RTM focused. With granular scopes now the default, we should make sure this guide provides a path to updating to using events instead of RTM.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [ ] enhancement (feature request)
- [ ] questi

[2020-02-04 21:01] stevengill commented on #612
Initially reported in #326 by @jimmy927

[2020-02-04 21:05] jimmy927 commented on #326
Looks great, but it uses Flask which i don't have or want to introduce on my side.

[2020-02-05 11:52] djachkov opened #613 "Give users a way to choose how they want to handle errors."
### Description

First of all, I've struggled with the issue while finding a user by email address:
[code]
Trying to understand which behavior raised that issue, I found, that it is the consequences of the same issue, as in #579
This isn't normal behavior, I think. Why do we try to WAIT if we already have an error? (a user that we trying to find does not exist at all)
The root cause of this is the

[2020-02-05 18:28] aoberoi opened #614 "Document the api_call() method"
### Description

When the SDK hasn't specifically released a new Web API method on the `WebClient`, developers can use the `api_call()` method to call _any_ named method. This helps unblock users when our releases aren't perfectly synchronized to new method releases on the platform.

Currently, there's no documentation that guides developers on how to use `api_call()`. It should likely be added to

[2020-02-05 22:18] sujansonly commented on #584
is this resolved ? when can i look for the solution for this problem?

[2020-02-05 22:54] stevengill commented on #584
Hey @sujansonly,

RTM isn't supported for the new granular scopes. We recommend using events API instead with the new scope. Checkout our [tutorial](https://github.com/slackapi/python-slackclient/tree/master/tutorial) for an example of it in action.

If you still need to use RTM, you can instead create a [classic slack app](https://api.slack.com/apps?new_classic_app=1)

[2020-02-05 22:54] #584 closed

[2020-02-06 17:52] JasonS-Bellevue opened #615 "Client Not Finishing Async.IO Connections"
### Description

It looks like, using the latest slack client, the implementation of async.io is not closing connections resulting in occasional `invalid file descriptor` errors.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place

[2020-02-06 18:14] stevengill commented on #615
Hey @JasonS-Bellevue, I believe this is related to the [existing concurrency issues](https://github.com/slackapi/python-slackclient/labels/area%3Aconcurrency) this library is facing. We are actively working on a solution.

[2020-02-07 14:53] it-dev-ingo opened #616 "Abnormal encode/decode using views"
### Description

I'm having problems using views. I have not met anyone who may have been in the same situation, so I would like to know if there is any step that I am doing wrong. I just want to take the values ​​from the text fields and use them. However, they come in a format that would be semi-impossible to normalize.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bu

[2020-02-08 00:20] RodneyU215 commented on #513
@howardjones and @Allexio-bot to utilize proxies in the v2.x of the Slack web client it's important to note that the argument name has changed. You want to use `proxy` and not `proxies` like @Marc-Girard mentioned in his example above.

`slack_client = WebClient(token=SLACK_TOKEN, proxy='http://proxy.example.com')`

[2020-02-08 00:41] RodneyU215 commented on #557
Hi @liorblob and @Allexio-bot, this error comes from AIOHTTP our client dependency. (Specifically [this line of code](https://github.com/aio-libs/aiohttp/blob/63a0d1040533947ef4973b3baed87e5fb7870e5a/aiohttp/client_reqrep.py#L466))

This thread may shed some light on this: https://github.com/aio-libs/aiohttp/issues/2722#issuecomment-453963275

[2020-02-08 00:46] #545 closed

[2020-02-08 04:59] liorblob commented on #557
Thanks.

[2020-02-08 04:59] #557 closed

[2020-02-11 14:42] djachkov opened #619 "Is it normal that non-blocking operations, in fact, are blocking the code execution in async mode?"
### Description
Hello!
I have a question about the usage of the RTM API in async mode.
I've been explaining my colleague about the async functions and non-blocking operations on the example of the slack-bot. And when I've put the `asyncio.sleep(10)` in the app and was ready to demonstrate how I still can execute another command - it turned out, that `asyncio.sleep(10)` has completely blocked all c

[2020-02-13 07:12] seratch commented on #594
Thanks for taking the time to report this (and also I'm sorry for our belated response here). We'll check this issue.

[2020-02-13 07:25] seratch commented on #597
Thanks for taking the time to report this and I'm sorry for our delayed response here. I empathize with your frustration regarding the tricky difference between the actual behavior of Slack APIs and API testers.

As a maintainer of this Python SDK library, I don't have actions to take in the short-term but I'll share your feedback with the team concerned.

[2020-02-13 07:45] seratch commented on #616
👋 Sorry for the late reply. Is it possible to share how your app parses the `view_submission` payload with us? This library doesn't offer the functionality to parse incoming requests from Slack yet so that this issue looks related to your application code (or web framework you use) to me.

[2020-02-13 14:23] it-dev-ingo commented on #616
So, I'm just taking the payload and doing this:

`request_body = event["body"]
    response_url = event["body"].replace('payload=','', 1)
    response_url = urllib.parse.unquote(response_url)
    response_url = json.loads(response_url.replace("\\",""))`

I'm using AWS Lambda.

[2020-02-13 16:57] vcardamone opened #620 "Attach File Slack Bot"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [ ] enhancement (feature request)
- [x ] question
- [ ] documentation related
- [x ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x ] I've read and understood the [Contributing guidelines](https://github.com/slackapi/python-slackcli

[2020-02-13 20:01] #616 closed

[2020-02-13 21:54] #598 closed

[2020-02-13 21:54] stevengill commented on #598
Thanks for filing the issue and sending the PR!

[2020-02-13 22:08] stevengill commented on #513
Going to close this issue. Feel free to continue to comment or reopen if you feel the resolution hasn't been reached.

[2020-02-13 22:08] #513 closed

[2020-02-14 00:21] aoberoi opened #621 "Add blocks and elements for radio buttons and checkboxes"
### Description

Slack launched support for [radio button groups](https://api.slack.com/reference/block-kit/block-elements#radio) and [checkboxes](https://api.slack.com/reference/block-kit/block-elements#checkboxes) in Block Kit. The builder classes don't yet have these objects represented.

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guide

[2020-02-14 07:12] seratch commented on #620
👋 I tried to reproduce your issue but I was not able to.

[code]

[code]

Could you make sure if the response has `'ok': True` and doesn't have an error code in the response?

[2020-02-14 14:46] vcardamone commented on #620
Hi Seratch! Thanks for your help again. I got the following below:

{'ok': True, 'file': {'id': 'FU0QTHXMK', 'created': 1581691326, 'timestamp': 1581691326, 'name': 'utilization.csv', 'title': 'Utilization', 'mimetype': 'text/csv', 'filetype': 'csv', 'pretty_type': 'CSV', 'user': 'UTWT3L9V3', 'editable': True, 'size': 70683, 'mode': 'snippet', 'is_external': False, 'external_type': '', 'is_public'

[2020-02-15 17:30] Duwevans commented on #596
I was able to resolve something similar by adding "message.im" to the subscribed bot events. Otherwise I was only able to have the bot receive events in public channels - which may now be the default function of "message.channels"

[2020-02-17 10:06] rbahumi commented on #429
Hi @RodneyU215
I am also experiencing the same issue running in Jupyter Lab
python version 3.7.4
slackclient==2.5.0

[2020-02-17 10:16] Havdiak commented on #609
So the conclusion will be that slack strongly recommends updating your applications with Update to Granular Scopes and soom all apps must use granular permissions, but they do not have RTM functionality for bot users?

What should I do if I create an application of a new type (because the old type can no longer be created) and I want the bot to write to my messages?

I tried this:
`slackclient==2.

[2020-02-17 20:03] jeremyschulman opened #622 "aiohttp-4.0.0a1-py3.6 - RuntimeWarning: coroutine 'noop' was never awaited"
### Description

When using the lastest slackclient, which pulls in the aiohttp in setup.py with
[code]

Results in aiohttp version 4.0.0.a1.  When using this version I noticed the following output when invoking the WebClient api calls, for example chat_postMessage

[code]
If I downgraded the version of aiohttp to < 4.0, I obtain version 3.6.2 . I no longer see the above issue when using this vers

[2020-02-17 23:00] #596 closed

[2020-02-17 23:00] sonalp123 commented on #596
Didnt change anything but issue is resolved.

[2020-02-18 16:17] jeremyschulman opened #623 "DatePickerElement - missing placeholder causes TypeError"
### Description

When using a DatePickerElement object, if the placeholder attribute is not provided and to_dict() is called a TypeError is raised.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [X] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
*

[2020-02-18 20:16] stevengill commented on #622
thanks for reporting this @jeremyschulman!

Lets keep this issue open for a little bit to see if others run into this and if it is actually causing issues with running the library (or if it is just a warning)

[2020-02-18 21:14] BigOtis commented on #609
Are there any plans to support RTM-type functionality with the new granular scopes with this Python app? Just trying to get an idea of what direction we should go. I am not sure if Classic apps will be sunset in the near future...

[2020-02-18 21:37] stevengill commented on #609
@BigOtis No plans to support RTM with granular scopes. If you are building an internal integration (not planning on distributing to App Directory), you can keep using classic slack apps and RTM without much worry. No plans to sunset classic slack apps in the near future.

[2020-02-19 00:43] hbandlamudi commented on #476
Any update on this issue? I've started experiencing this behavior for the `auth_test()` API call.

[2020-02-19 01:25] HSDen commented on #476
Downgrade the version it worked for me. I forgot the library think its
webclient if am not wrong.

On Tue, Feb 18, 2020 at 7:43 PM hbandlamudi <notifications@github.com>
wrote:

--
Thanks&Regards, Hari,Gnanaprakasam Ph#: 804-292-4894

[2020-02-19 03:41] hbandlamudi commented on #476
Do you remember which version you downgraded to?

[2020-02-19 18:46] vcardamone commented on #620
Bump

[2020-02-19 19:09] vcardamone commented on #620
I got it. Had to change channel to channels

[2020-02-19 19:09] #620 closed

[2020-02-20 08:43] akshayamaldhure opened #624 "Segmentation fault with chat_postMessage(...)"
### Description

I'm getting segmentation fault consistently while running my code on Linux. It does not happen on Mac OS though. Below is the (almost) full trace of the issue.

[code]

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (

[2020-02-20 16:47] shaydewael commented on #624
It doesn't seem like this should cause a segfault, but based on the code - the variable you have your client assigned to is `slack_token` whereas you're using `slack_client` to call `chat.postMessage`.

Otherwise, does making only one `chat.postMessage` call cause a segfault or does it only happen when in a while loop?

[2020-02-20 17:22] manav1999 commented on #438
Did you found a solution, I'm also facing the same situation.

[2020-02-20 17:28] shaydewael commented on #438
@manav1999 I'm guessing that the message being sent to channel is triggering another message event, which makes your app send another message (in an endless cycle).

[2020-02-21 00:03] akshayamaldhure commented on #624
Yes. It happens only if its in while loop. I can say this because there's another `chat.postMessage` outside the while loop and it never threw segmentation fault.

[2020-02-21 00:09] akshayamaldhure commented on #624
Yes. It happens only if its in while loop. I can say this because there's another `chat.postMessage` outside the while loop (not mentioned in the code snippet I've put in the description) and it never threw segmentation fault. Also, I've fixed the typo in my code in the description where I had mentioned `slack_token` instead of `slack_client`.

[2020-02-21 15:19] Ramya1217 commented on #610
I'm having the same issue.  Updating the slack client did not resolve it - I am on the latest version.  Any other recommendations?

[2020-02-24 18:59] stevengill commented on #364
Hey @rbahumi, I believe `types` is documented at https://api.slack.com/methods/conversations.list#arg_types.

You are correct that it is plural.

[2020-02-24 19:00] stevengill commented on #364
I'm going to close this issue but feel free to continue to comment or re-open if you feel like it isn't resolved yet.

[2020-02-24 19:00] #364 closed

[2020-02-25 01:01] hbandlamudi commented on #476
@HSDen @RodneyU215 I downgraded to 2.4.0 but still see the error occurring.

[2020-02-25 19:30] stevengill commented on #610
@Ramya1217 can you provide more info about your system?

* What version of python
* What OS

My best guess is that your environment isn't setup properly or that you are using a combination of python 2 & 3 + pip 2 & 3

[2020-02-26 15:22] pnfnp commented on #325
You can add `ssl=True` and works like a charm!
[code]

[2020-02-28 17:05] ryan-lane opened #625 "Use of logging.function("%s", variable) results in unicode/ascii stacktraces"
### Description

The code uses an older style of string formatting for logging (like https://github.com/slackapi/python-slackclient/blob/e06b4d7b415aac439ec9d5456ef756aaed4083e9/slack/web/slack_response.py#L173), which results in unicode/ascii stacktraces, when unicode is in the data being logged.

Due to unicode in slack responses being logged in the above line, the client is currently unusable.

[2020-02-28 17:10] ryan-lane opened #626 "asyncio RuntimeError stacktrace in SlackResponse, when getting paginated responses"
### Description

I'm trying to get paginated responses in users_list, by providing cursor and limit, but I'm getting a RuntimeError when doing so, because there's no existing asyncio loop in the thread:

https://github.com/slackapi/python-slackclient/blob/e06b4d7b415aac439ec9d5456ef756aaed4083e9/slack/web/slack_response.py#L135

Applying the same pattern that base client uses for getting an event

[2020-02-28 17:53] ryan-lane commented on #625
This should also fix the issue: `self._logger.debug(u"Received the following response: %s", self.data)`

[2020-02-28 18:20] ryan-lane commented on #626
Relevant part of the stacktrace:

[code]

[2020-03-01 13:00] alper opened #627 "Not allowed token type for conversations.join"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [x] question

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/python-slackclient/blob/master/.github/contributing.md) and have done my best effort to follow them.
* [x] I've read and

[2020-03-01 14:22] jeremyschulman commented on #622
@stevengill - understood.  thank you.  Look forward to hearing back from you on any other users experiencing this.  Did you happen to try to reproduce and see the same result?  Just curious if this is a _me_ problem.

[2020-03-01 14:26] jeremyschulman opened #628 "SectionBlock - add max_text_length=3000"
### Description

The SectionBlock class definition does not currently include a `max_text_length=3000` property.  As many of the other class definitions have similar properties, I am requesting this addition so that developers can use this rather than hardcoding '3000' in needful places in their code.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [X] enhancement (

[2020-03-02 12:03] juan-vg commented on #415
@RodneyU215 I completely don't understand this example. The event is only fired when opening the connection?? For a fixed channel?? It doesn't make sense

I can't figure out how this can help somebody. I want to fire this event just before start my processing, and to different channels. I've tried several approaches and none of them work fine. From my POV this is still not working, and I see a big

[2020-03-02 20:33] kb18951452 commented on #570
I am still running into this issue with 2.5.0
 (latest as of today on pypi)
I see the merge above, am I missing something?

[2020-03-02 21:05] aoberoi commented on #570
According to the release notes, we shipped that fix in [v2.4.0](https://github.com/slackapi/python-slackclient/releases/tag/2.4.0). Can you confirm that you're getting the exact same `BotUserAccessError`?

[2020-03-02 21:47] kb18951452 commented on #570
`slack.errors.BotUserAccessError: The method 'conversations_create' cannot be called with a Bot Token.`

Not the EXACT same error message, but it's the same root cause.

[According to slack](https://api.slack.com/methods/channels.create), "Channels.create" is deprecated, and [conversations.create](https://api.slack.com/methods/conversations.create) should be used instead.

And according to [the do

[2020-03-03 15:02] alok2k5ingh opened #630 "Getting concurrent.futures._base.TimeoutError while using channels_invite api method"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ X] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [ X] I've read and understood the [Contributing guidelines](https://github.com/slackapi/python-slackclie

[2020-03-03 18:30] sujansonly commented on #609
Could you please give me some names from classic slack apps, which we can use ?

[2020-03-04 12:13] juan-vg commented on #429
FYI: nest_async doesn't work if using uvloop

I'm currently trying to mix slackclient==2.5.0 RTM with rasa==1.8.0 (which uses uvloop), and it's becoming a big headache

[2020-03-04 16:25] juan-vg opened #631 "AsyncIO loop is not being shared from RTMClient to WebClient"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [X] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [X] I've read and understood the [Contributing guidelines](https://github.com/slackapi/python-slackclient

[2020-03-04 21:51] alper commented on #627
I fixed this by installing the bot through api.slack.com/apps instead of through the off-site button. The button needs to be setup perfectly and can drift apart from the desired configuration in a bunch of ways.

The root cause of my issue seems to have been a mismatch between oauth and oauthv2 workflows. After conforming everything to v2 including the post authentication callback, it seems to wor

[2020-03-04 21:51] #627 closed

[2020-03-04 23:06] dima-kov commented on #622
Also, experienced the same problem. There is an interesting point: the error happened only when I entered `tracemalloc.start()`. Without tracemalloc everything works fine. Well, except memory leak and I used tracemalloc to find what's happening.

Traceback:
[code]

[2020-03-05 06:48] akshayamaldhure commented on #624
This is still happening for me. :(

[2020-03-05 07:31] seratch commented on #624
@akshayamaldhure I haven't reproduced your situation yet but if creating a thread for each request is the cause of the problem, how about trying to use your own loop and enable `run_async`? Here is a simple example code.

[code]

With this approach, python-slackclient never creates threads and uses only the event loop you give. We'll improve the stability of the sync mode in future releases. But f

[2020-03-05 22:52] ryan-lane opened #633 "Web client and rtm client should be fully split, and web client should not use asyncio"
### Description

The 2.x release of slackclient is completely unusable in projects not based on asyncio. The integration of asyncio is too deep into the library. Whether to use async or not in api calls should be up to the caller, not baked into the library. I've spent the last two weeks trying to upgrade my project based only on the web APIs, and so many things are broken that I believe I'm going

[2020-03-06 22:13] aoberoi commented on #626
Hi @ryan-lane, thanks for taking the time to research and write this up.

I've tried reproducing the issue as you describe but the code seems to work as expected for me. Here is what I have:

[code]

Note that I don't have `asyncio` or any event loops in my program. In a workspace with about 100 conversations, it paginated through the entire set as expected.

Looking a little closer at your error,

[2020-03-09 00:41] davidgolub opened #634 "SlackClient missing Web API methods"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x ] I've read and understood the [Contributing guidelines](https://github.com/slackapi/python-slackclien

[2020-03-09 13:32] seratch commented on #634
@davidgolub Hello, thank you for taking the time to point out this! Yes, these APIs are not yet supported in the Python SDK. I will be working on these very soon but if you're in a hurry, please consider directly using the `api_call` method as below. It works also for admin APIs.

[code]

[2020-03-09 19:12] arturshyshko opened #635 "DatePickerElement initial_date validation is incorrect"
### Description

While trying to pass `initial_date` attribute to `DatePickerElement` constructor, it raises
[code]
even though you pass there correct date format, like "2020-03-08".

This happens because `initial_date_valid` for DatePickerElement uses incorrect regex for verifying date - `r"\d{4}-[01][12]-[0123]\d"`.
This regex only matches 01, 02, 11 and 12 months.

### What type of issue is thi

[2020-03-10 08:03] seratch commented on #635
Thank you very much for taking the time to report this. I've confirmed the bug and am working on the fix. I will come up with a PR for fixing this and will release a new version soon.

[2020-03-10 16:52] #635 closed

[2020-03-12 09:20] imnotadeveloper opened #637 "wrong issue, sorry"
You can delete it, sorry

[2020-03-12 10:44] #637 closed

[2020-03-16 17:48] find-evil commented on #334
pip3 install websocket-client==0.47.0

[2020-03-17 01:17] #634 closed

[2020-03-17 11:34] seratch opened #639 "Missing blocks & block elements"
### Description

The following blocks and block elements are not yet supported.

#### blocks

* file blocks (for remote files)
* rich-text blocks

#### block elements

* multi-select elements
* checkboxes
* radio buttons
* input block's elements https://github.com/slackapi/python-slackclient/issues/519
* rich text elements

+ filtering options for conversations

### What type of issue is this? (pl

[2020-03-18 10:05] biboran commented on #436
@RodneyU215 thank you for the example! Perhaps it would be nice to update the [web api rate limits](https://slack.dev/python-slackclient/basic_usage.html#web-api-rate-limits) section of the documentation as it is somewhat misleading right now.

[2020-03-18 10:57] seratch opened #640 "Update error-handling examples in document"
### Description

We should fix the examples in [this document](https://slack.dev/python-slackclient/basic_usage.html#web-api-rate-limits).

* https://github.com/slackapi/python-slackclient/issues/436#issuecomment-600531876

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing relate

[2020-03-18 10:58] seratch commented on #436
@biboran Thanks for your feedback! I'll fix it soon. #640

[2020-03-23 06:36] akshayamaldhure commented on #624
Apparently, it seems pip was pointing to the incorrect Python version (Python 3.5) on the target machine. After fixing the same, this issue is not seen anymore.

`pip 20.0.2 from /usr/local/lib/python3.6/dist-packages/pip (python 3.6)`

[2020-03-23 19:15] amckenna-pinterest commented on #603
Thanks for the response.  I think it makes sense for a library to convert
non-native values to native values in some cases. (i.e. converting null to
None, etc.)

I can also understand how this may not be a preferred pattern for some, or
cause issues with code that's already been written.  But maybe it could be
considered for a new major version.

--Adam

On Wed, Jan 29, 2020 at 6:01 PM Ankur Obero

[2020-03-25 11:43] Rits1272 commented on #439
For me also uninstalling and installing slackclient solved the trick

[2020-03-29 13:30] Allexio opened #642 "RTMClient.start fails when enabling proxy with Python 3.8.2 + Windows OS"
### Description

Hi, I've been running a slack bot for about six months with no issues.
About two months ago, I upgraded my bot to slackclient 2.x. No problems so far.
Today I decided to upgrade my python install from 3.7.4 to 3.8.2.
Suddenly rtmclient.start() fails.
I saw a similar issue in another thread but the stacktraces are completely different.
I think the issue here is I use a proxy to con

[2020-03-30 14:25] limoneren commented on #334
This worked for me unlike the other proposed solutions here.

[2020-03-30 18:56] aoberoi opened #644 "Come work at Slack on developer tools like Python Slack SDK - Slack DevRel is hiring!"
If you've been using Slack's APIs and have looked at the code behind some of the developer tools we publish here, you might be a fit for a role on the Developer Relations team at Slack.

We're hiring in the following Slack offices: San Francisco (US), Vancouver (CA), Denver (US), Melbourne (AU), Tokyo (JP).

[**Apply here**](https://slack.com/careers/2142358/senior-open-source-engineer)

## Senior

[2020-03-31 18:09] stevengill commented on #583
This was handled with #602 & #608

[2020-03-31 18:09] #583 closed

[2020-04-02 06:41] libindavis commented on #200
Hi, do you know how to capture the event of  "a user clicked a button in an interactive message." ?

[2020-04-02 23:47] seratch commented on #621
Refer #639 - closing this

[2020-04-02 23:47] #621 closed

[2020-04-03 09:55] seratch commented on #624
Good to know! Let me close this issue. Please feel free to reopen if you have something further to discuss here.

[2020-04-03 09:55] #624 closed

[2020-04-03 10:12] seratch commented on #609
If you need to use RTM API for new apps, create a Slack app from https://api.slack.com/apps?new_classic_app=1

The original question here has been clearly answered at #326. Allow me close this issue now.

[2020-04-03 10:12] #609 closed

[2020-04-03 10:22] seratch commented on #582
It seems the issue has been addressed since multidict 4.7.2. Allow me to close this issue now but if you see the issue is still happening with newer versions of multidict, please feel free to reopen this.
https://github.com/aio-libs/multidict/compare/v4.7.1...v4.7.2

[2020-04-03 10:22] #582 closed

[2020-04-07 17:16] jourdanrodrigues opened #645 "Unclosed client session"
### Description

Getting `Unclosed client session` randomly and seldomly when performing hundreds of requests.

This seems to be the solution for this issue: https://github.com/aio-libs/aiohttp/issues/1175#issuecomment-247244796

### What type of issue is this?
- [X] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requi

[2020-04-08 01:38] changhsinlee commented on #596
Can confirm that adding "message.im" to bot event worked @Duwevans and doesn't work when removed. Thanks.

[2020-04-08 09:03] seratch commented on #576
👋 Let us know if you have further questions here. Otherwise, I'll close this issue soon.

[2020-04-08 09:21] seratch commented on #573
:wave: Sorry for our very late response here. This looks like an issue related to **the absence of a token**. The error code `not_authed` generally indicates the absence. If your token is incorrect, you'd see `invalid_auth` error instead.

[code]

[2020-04-08 09:39] seratch commented on #570
Just in case, I verified it works with a bot token. I'm not sure about the cause of the situation mentioned here yet.

If your app's bot permissions include `channels:manage` scope, `conversations.create` call should result in success as below.

[code]

If your app doesn't have the scope, the outcome looks like this:

[code]

@kb18951452
Do you see the same issue with another app? If you haven't c

[2020-04-08 09:45] #576 closed

[2020-04-08 13:18] seratch commented on #569
I started working on this issue. Here is a small sample demonstrating the issue happens when using `WebClient` in `RTMClient` handlers whereas `WebClient` alone doesn't cause such heavy CPU load.

### requirements.txt

[code]

### app.py

[code]

### WebClient in RTMClient

[code]

[code]

### WebClient

[code]

[code]

[2020-04-09 02:07] AlexisMundu commented on #436
Hi,

I tried with the [example code](https://slack.dev/python-slackclient/basic_usage.html#web-api-rate-limits) but I keep getting a response from the API without ["headers"]["Retry-After"].

[code]

I have slackclient==2.5.0

Am I missing something?

[2020-04-09 05:16] seratch commented on #436
@AlexisMundu As discussed above, the document should be updated (I will work on it soon #640). You can access the header value the following way.

[code]

[2020-04-09 15:04] nbeuchat commented on #497
Same issue here, I am trying to run the Slack client *synchronously* with `client = slack.WebClient(token=bot_slack_token, run_async=False)`.

I had to switch back to version `1.3`, hopefully, there will be a solution soon

[2020-04-09 21:08] hbandlamudi commented on #630
I'm getting the same error for the api_test() and auth_test() calls. It's intermittent but often occurs as series of back-to-back concurrent.futures._base.TimeoutErrors.

[2020-04-10 00:43] AlexisMundu commented on #436
Oh I see thanks a lot @seratch 👍

[2020-04-10 08:46] seratch commented on #642
@Allexio-bot I haven't tried it out with Windows OS yet but I don't see any issues with Python 3.8.2 (macOS). This is just my guess but the issue may be specific to Windows OS??

[code]

Here is a snippet I used for it.

[code]

[2020-04-10 09:13] seratch commented on #642
@Allexio-bot I used your one as-is. The only difference is running `proxy.py` separately.

[2020-04-13 05:16] seratch commented on #566
As I've already answered this question, allow me to close this issue now.

[2020-04-13 05:16] #566 closed

[2020-04-13 05:37] seratch commented on #565
@abbazs Sorry for our belated response here. 🙇

You cannot have any binary data in the JSON text data structure.

The recommended way is using `files_upload` method. The method internally calls `api_call` wisely. Here is a simple snippet demonstrating how to use it for your use case.

[code]

Allow me to close this issue now. Hope this is helpful to you despite the long delay.

[2020-04-13 05:37] #565 closed

[2020-04-13 05:40] seratch commented on #559
Thanks for the suggestion! This looks like a nice idea to me.

[2020-04-13 05:47] seratch commented on #551
Sorry for no response at the time. Do you still see the issue? I haven't verified with Ubuntu 18 but

This may be an issue with your Python installation. This thread may be helpful: https://askubuntu.com/questions/480908/problem-with-update-manager-no-module-named-apt-pkg-in-ubuntu-13-10-having-i
One suggested answer there is running `sudo apt-get install --reinstall python3-apt` to reinstall nece

[2020-04-13 06:01] seratch commented on #547
I think you mentioned this document: https://slack.dev/python-slackclient/real_time_messaging.html#connecting-to-the-rtm-api

If so, it works at least for me. If you're still interested in checking this issue, could you try the latest version with the following code?

[code]

Adding the following lines may be helpful to figure out what is happening to your app.

[code]

[code]

[2020-04-13 06:44] seratch commented on #537
Sorry for our delayed response here.

This rate limit is for Events API (it may be a bit confusing for RTM users but this is a newer subscription API). The document about RTM says "Message delivery to your app is not rate limited over RTM". That said, if your channel is extremely busy, the server-side may not fully manage to send all of them to your apps.

Regarding the rate limits, there is no wa

[2020-04-13 06:53] seratch commented on #531
related to: https://github.com/slackapi/python-slackclient/issues/270

[2020-04-13 07:18] seratch commented on #530
First of all, I'm sorry for no response here.

I just checked this issue. As of version 2.5.0, the behavior seems to be a bit different.

It immediately raises `TypeError: 'NoneType' object is not subscriptable`. The error information still can be improved. But at least some error happens synchronously.

[code]

[code]

[2020-04-13 07:49] seratch commented on #528
As Rodney suggested, calling `conversations.open` API method to get the channel ID is recommended. Here is a simple snippet demonstrating how to do that.

[code]

Allow me to close this issue now.

[2020-04-13 07:49] #528 closed

[2020-04-13 07:51] seratch commented on #523
I've answered this question then. Allow me to close this issue now. If you have something to ask/discuss further, please feel free to reopen it.

[2020-04-13 07:51] #523 closed

[2020-04-13 08:29] seratch commented on #546
This issue has been fixed by #563

[2020-04-13 08:29] #546 closed

[2020-04-13 08:45] seratch commented on #520
I'm sorry for no response when you asked a question here.

With modals, you can use Block Kit for elements. For dynamic select menu (I guess you mentioned [the one with `data_source: external` in dialogs](https://api.slack.com/dialogs#dynamic_select_elements_external)), you can go with [`external_select` or `multi_external_select` typed blocks](https://api.slack.com/reference/block-kit/block-eleme

[2020-04-13 08:45] #520 closed

[2020-04-13 08:50] seratch commented on #511
@zechenjiang If you're still interested in trying the `RTMClient`, please try the snippet in the latest document. It should work for you. https://slack.dev/python-slackclient/real_time_messaging.html

Allow me to close this issue now. But if you have something further to ask/clarify/discuss here, please feel free to write in or reopen this issue.

[2020-04-13 08:50] #511 closed

[2020-04-13 09:09] seratch commented on #509
@jinserk I'm sorry you didn't get any response at the time. I know this is late but let me answer your question now.

In addition, you need to subscribe to `presence_change` events after enabling the `presence_sub` by sending messages to the RTM server as you did.

[code]

Allow me to close this issue now. If you have something further to ask/clarify here, please feel free to write in or reopen th

[2020-04-13 09:09] #509 closed

[2020-04-13 09:30] seratch commented on #507
Thank you for taking the time to send this feedback. Also, I'm sorry about our late response here.

You're right. When the `ok` value in an API method response is `False`, the `WebClient` always raises an exception named `slack.errors.SlackApiError`. The assert snippets in README don't make sense. I will fix the snippets in README.

[code]

[code]

[2020-04-13 09:51] seratch commented on #505
Are you still facing this issue with https://github.com/errbotio/errbot? It seems `errbot` depends on slackclient v1.x. The version is already unsupported as described [here](https://github.com/slackapi/python-slackclient/wiki/Slack-Python-SDK-Roadmap#version-1x). That said, let me know if you see some necessity to change on the slackclient side.

[2020-04-13 13:39] seratch commented on #502
As @paul-griffith mentioned, the `ActionsSelector` is part of (legacy) dialogs. When using options in Block Kit, it works as you expect.

[code]

[code]

Allow me to close this issue now. I hope this is helpful to you despite the delay 🙇

[2020-04-13 13:39] #502 closed

[2020-04-13 13:46] seratch commented on #499
This thread may be helpful for you.
https://github.com/slackapi/python-slackclient/issues/471

Let me close this issue as it seems to be duplicated with it.

[2020-04-13 13:46] #499 closed

[2020-04-13 13:59] seratch commented on #496
As Rodney suggested, specifying filetype should work. Here is a simple snippet demonstrating how to implement it.

[code]

The following is the outcome on Slack:

<img width="1019" alt="Screen Shot 2020-04-13 at 22 57 06" src="https://user-images.githubusercontent.com/19658/79126124-4d36c900-7dda-11ea-9361-76078f2feb8f.png">

As this one is an old one and I provided a solution, allow me to close t

[2020-04-13 13:59] #496 closed

[2020-04-13 14:05] seratch commented on #483
I guess the `channel_not_found` error indicated your app's bot user was not allowed to access the channel. Most commonly, the error can be returned when your bot user is not invited to the channel.

As this one is an old issue and I suggested a possible solution above, allow me to close this issue now. If you have something further to ask/clarify here, please feel free to reopen write in.

[2020-04-13 14:05] #483 closed

[2020-04-13 19:24] danilogr opened #649 "Document error handling approach?"
### Description
Hello, I am new to this library.

It took me some time to figure out that the scope of `SlackApiError` is actually `slack.errors.SlackApiError`.

Could we update the readme.md file to include an example on how to handle exceptions as they are fairly common?

Thanks!

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [ ] enhancement (feature request)
- [

[2020-04-13 22:47] seratch commented on #649
Thanks for the feedback! Regarding the ways to handle exceptions, it seems to be a similar feedback to https://github.com/slackapi/python-slackclient/issues/507#issuecomment-612827182 . I'll be updating the readme soon. Also, I will review all the pages in the document.

[2020-04-14 00:24] danilogr commented on #649
Thank you for your prompt reply! Also, congrats for doing a fantastic job with the library!

[2020-04-14 00:45] seratch opened #650 "Deprecation warnings to channels/groups/mpim/im API method calls"
### Description

As with https://github.com/slackapi/node-slack-sdk/pull/992, `slackclient` should show warnings to those method calls.

https://api.slack.com/changelog/2020-01-deprecating-antecedents-to-the-conversations-api

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [x] enhancement (feature request)
- [ ] question
- [x] documentation related
- [ ] testing rel

[2020-04-14 05:52] seratch commented on #649
I've checked the existing resources and concluded that #646 #647 will fix this issue for the existing documents. I'm going to merge them tomorrow and then close this issue as well. Even after those changes, I will continue improving the documents. Thanks again for your feedback.

[2020-04-14 10:36] #640 closed

[2020-04-14 10:36] #503 closed

[2020-04-14 10:44] #649 closed

[2020-04-15 08:09] seratch commented on #482
As Rodney answered this question, please allow me to close this issue. Feel free to reopen or write in if you have something further.

[2020-04-15 08:09] #482 closed

[2020-04-15 08:34] seratch commented on #476
I tried to reproduce this issue but I haven't managed to see the error yet. I'm wondering if this issue may be related to a specific version of `aiohttp` library (and possibly its dependencies). If someone who encountered this issue could share `pip freeze` output, that may be helpful.

[2020-04-15 08:55] seratch commented on #472
As Rodney mentioned, fixing certificates on the machine may address the issue shared here. For macOS, this thread looks like a quite similar one: https://stackoverflow.com/a/53310545

Personally, I haven't encountered this issue and I think no actions are needed on this package side. For now, I don't close this issue. However, we may be closing this sometime in the future. Allow us to do so to kee

[2020-04-15 08:59] seratch commented on #459
As with #460 , please allow me to close this issue now. https://github.com/slackapi/python-slackclient/pull/460#issuecomment-611394225

[2020-04-15 08:59] #459 closed

[2020-04-20 01:05] jeznag commented on #476
[code]

[2020-04-20 04:09] seratch commented on #476
Sorry for the confusion but this library doesn't work with the alpha version of aiohttp. From the next release coming soon, the `install_requires` will be more specific (`"aiohttp>3.5.2,<4.0.0"`). For now, could you specifically install aiohttp 3.6.2 instead?

[2020-04-20 09:07] seratch commented on #630
This issue may be caused by the same reason with https://github.com/slackapi/python-slackclient/issues/476#issuecomment-616296655

Try `pip freeze` and if you have `aiohttp==4.0.0a1` in it, using `aiohttp==3.6.2` may help. From the next version, the `install_requires` won't allow the beta version to run with.

[2020-04-20 11:21] seratch commented on #507
Fixed by #651

[2020-04-20 11:21] #507 closed

[2020-04-20 11:23] #330 closed

[2020-04-20 11:24] #327 closed

[2020-04-20 11:26] seratch commented on #35
Fixed by #651

[2020-04-20 11:27] #35 closed

[2020-04-20 15:07] seratch commented on #631
FYI: this commit contains a test case reproducing this issue and it shows two possible solutions for it even with slackclient 2.5.0. https://github.com/seratch/python-slackclient/commit/6fb428723a67e1e3b22da27c4378f3c9b18291d3

In the forthcoming release, the library will address the issue for `run_async=False` mode (the default). The solution I'm currently thinking as the best is implementing the

[2020-04-20 15:56] juan-vg commented on #631
On the other hand, for the `run_async=True` option, the solution is as easy as checking if a loop was sent to the RTMClient. If so, add it to the params when creating the WebClient (action the RTMClient does internally).

If you manually create a WebClient, you can set your own loop (as you can on RTMClient creation)

[2020-04-20 16:07] juan-vg commented on #631
I've updated the demo code to highlight the workaround I've made and need to be solved by doing the proper loop/run_async params passing from RTMClient to WebClient

[2020-04-20 18:21] jhofeditz commented on #476
just noticed this error in webclient conversations_replies on Python 3.6.9
[code]

[2020-04-20 18:24] AsynchronousGillz opened #654 "files_upload failing to upload custom FormData object"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [x] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/python-slackclient

[2020-04-21 02:52] plilius opened #655 "Tutorial documentation: "im:write" scope needed"
### Description

The request to the Slack API fails as "im:write" permission has not been granted:
`slack.errors.SlackApiError: The request to the Slack API failed.
The server responded with: {'ok': False, 'error': 'missing_scope', 'needed': 'im:write', 'provided': 'chat:write,channels:history,pins:read,reactions:read,users:read'}`

### What type of issue is this? (place an `x` in one of the `[ ]`

[2020-04-21 02:59] seratch commented on #655
@plilius Thanks for taking the time to report this! I will fix this today 🙇‍♂️

[2020-04-21 04:23] seratch commented on #654
Hello @AsynchronousGillz 👋

Do you have some reason to directly use `aiohttp.FormData` to construct the form data? If not, just passing `io.BytesIO` data as `file` parameter works for you. Here is a minimum working example.

[code]

If you need to use `aiohttp.FormData` for some reason, unfortunately, the `WebClient` doesn't accept the value and we're not planning to support the type.

[2020-04-21 06:17] seratch commented on #605
@aaguilartablada Thank you very much for reporting this and making the PR #606. Let me close this issue now.

[2020-04-21 06:17] #605 closed

[2020-04-21 14:55] AsynchronousGillz commented on #654
I did not think I could just use the BytesIO object like that..... That worked perfectly!

[2020-04-21 14:55] #654 closed

[2020-04-21 18:09] #655 closed

[2020-04-22 04:03] seratch commented on #497
👋 Sorry for the confusion mentioned here. I've created a small test app showing a possible option at this point. https://github.com/slackapi/python-slackclient/blob/master/integration_tests/samples/issues/issue_497.py

As you see, with version 2.0.0 - 2.5.0, using shared `WebClient` & `event_loop. run_until_complete(coro)` in Flask (or any similar) applications doesn't work for simultaneous reques

[2020-04-22 16:29] iTakeshi opened #658 "client.chat_delete responds with "delete_failed""
### Description

After I posted a message from an App to myself using `WebClient.chat_postMessage`, I could not delete the message with `WebClient.chat_delete`.
The error message says just `delete_failed`, which is not specified in the API doc.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation relate

[2020-04-23 00:36] seratch commented on #658
👋 @iTakeshi Thank you for taking the time to report this! As you guessed, the error code seems to be a bit irregular. I'm sure you don't see this with other Slack apps or workspaces.

I cannot help you out here by investigating the details of internal errors on the server-side. If this is an urgent matter to you, [could you contact our support team](https://my.slack.com/help/requests/new)?

[2020-04-23 02:19] iTakeshi commented on #658
Thank you for your quick reply!
I just sent an inquiry to the support center with additional information like the workspace name.

[2020-04-23 12:38] #594 closed

[2020-04-24 02:11] seratch opened #660 "channel_ids in admin.users.invite calls doesn't work"
### Description

https://github.com/slackapi/python-slackclient/blob/2387c30d638a870d33643c8417e80901d2501ce6/slack/web/client.py#L326

This value needs to be a comma-separated value like this:
https://github.com/slackapi/python-slackclient/blob/2387c30d638a870d33643c8417e80901d2501ce6/slack/web/client.py#L247

I'll revisit all API methods and fix all similar issues (if exists). Plus, I will make

[2020-04-25 16:58] Akoparna24 commented on #183
I am facing import error for WebClient.. what to do?

[2020-04-26 05:24] saurabh896 commented on #183
@Akoparna24  What is your python version? I am able to import it in Python 3.7.3

[2020-04-26 05:40] Akoparna24 commented on #183
@saurabh896 My python version is 3.8. So I have created a virtual environment of version 3.6 to run rasa.

[2020-04-27 02:53] iTakeshi commented on #658
@seratch
Thanks to your support team, the problem has been resolved :+1: .
I used a user ID (starting with "U") for the `channel` field, but it turned out this field requires a channel ID (starting with "C" or "D").

However, it's a little bit unintuitive to me that there exists an asymmetry between `chat.postMessage` and `chat.delete` --- the former accepts a user ID but the latter doesn't.
How a

[2020-04-27 03:15] Shiwoo-Park commented on #476
I get this error too

package versions
[code]

error stack
[code]

[2020-04-27 03:50] seratch commented on #658
@iTakeshi It's great to know that the support team helped you out and you've figured out the cause. Thanks a lot for sharing this information with the public community 👍

[2020-04-27 03:50] #658 closed

[2020-04-27 06:51] Akoparna24 commented on #178
I am also facing the same problem. Please help me out!

[2020-04-27 10:53] seratch commented on #178
@Akoparna24 If you're using Python 2.x, only slackclient 1.x is available for you. In the case, importing `slackclient`, not `slack` should work for you. This was a breaking change since 2.0.

[2020-04-27 11:27] Akoparna24 commented on #178
I have created a virtual environment of python 3.6. Please give me the command which I can run and get put of this problem.

[2020-04-27 11:44] seratch commented on #178
It may be a general troubleshooting about setting up Python runtime and installing packages.

* Have you activated your virtual env? (`source env/bin/activate`).
* Can you find slackclient 2.x in `pip freeze` output or under `env/lib/python3.8/site-packages/`? If absent, run `pip install slackclient==2.5.0`.

[2020-04-27 22:34] #660 closed

[2020-04-28 06:19] seratch commented on #650
@stevengill I've changed the internals of `WebClient` a lot. So, let me take over this task. I've pushed a commit addressing this - https://github.com/seratch/python-slackclient/commit/40ae3b1c0caaad8eae4374418325e87368b22940

Let me know in the pull request if you have comments.

[2020-04-28 06:30] Akoparna24 commented on #178
I have activated the virtual environment and tried what you said pip install slackclient==2.5.0 but still I'm facing this issue.
![15880553717396381222862668100057](https://user-images.githubusercontent.com/64242642/80454494-c50f0280-8947-11ea-9b08-75fcc10a6c55.jpg)

[2020-04-28 06:51] seratch commented on #178
Thanks for sharing this. I see. It seems you're using Anaconda. I guess that might be the cause in your case.

Although I'm not an expert in Anaconda, I think you need to follow their standard way.

[2020-04-28 06:53] seratch commented on #623
PR #659 fixes this issue. The change will be included in version 2.6.0 (that's going to be released in a few weeks)

[2020-04-28 07:20] seratch commented on #628
PR #659 fixes this issue by https://github.com/slackapi/python-slackclient/pull/659/commits/47a5be73889e4bbe8813771b05f84a3cfc8a4d58

[2020-04-28 07:52] seratch commented on #560
PR #662 fixes this issue - https://github.com/slackapi/python-slackclient/pull/662/commits/273091fe482834e82d3c8f72853fcb06b9490535

[2020-04-28 08:20] seratch commented on #559
I came to think we should not implement `__contains__` using `data` at the top level. You can do the same by `key in response.data`. Doing this way is also simple enough so that let me close this issue without implementing a bit tricky dunder method. see also: https://github.com/slackapi/python-slackclient/pull/663

[2020-04-28 08:20] #559 closed

[2020-04-28 08:54] seratch commented on #642
Even with slackclient 2.6.0, this issue won't be addressed. When going with `run_async=False`, `WebClient` no longer depends on aiohttp. By contrast, `RTMClient` still depends on asyncio's event loop and the code raising errors remains - `self._event_loop.run_until_complete`

[2020-04-28 09:00] seratch commented on #625
More info about ways to verify if the issue has been addressed is needed - https://github.com/slackapi/python-slackclient/pull/632#issuecomment-611421370

[2020-04-28 09:07] seratch commented on #615
@JasonS-Bellevue I'm sorry for our slow response here. I have been working on asyncio related issues this library has in these days. If you have simple repro steps of this issue, could you share it with us?

[2020-04-28 09:18] seratch commented on #613
@djachkov
The behavior of `RTMClient` in `run_async=False` mode has been improved and now you can expect to get raised errors from `WebClient` rather than just getting the consequences like the `TypeError` you've mentioned.

My understanding is that we no longer need the flag `handle_errors` you've suggested here with the new implementation introduced by #662 . Correct me if I don't understand you

[2020-04-28 09:23] seratch commented on #573
Let me know if you have something further to ask/clarify here. Otherwise, please allow me to close this issue within a few days.

[2020-04-28 09:27] seratch commented on #570
As Ankur mentioned, with version 2.4.0+, this issue no longer exists.
https://github.com/slackapi/python-slackclient/commit/488cc730560584c99c6bc42fffbda727321dfef9

Let me close this now.

[2020-04-28 09:27] #570 closed

[2020-04-28 09:33] seratch commented on #547
Allow me to close this issue as the team doesn't have any further actions to take on this. However, if you have something further to ask/discuss here, please feel free to reopen this.

[2020-04-28 09:33] #547 closed

[2020-04-28 09:55] seratch commented on #500
Since the next minor version (2.6.0) including #659, you can construct blocks the following way:

[code]
the commit: https://github.com/slackapi/python-slackclient/pull/659/commits/b4abc58e3af229de6469c3343e1dd423257e0440

Let me close this issue now. You may prefer a bit different way. If you have other ideas, please let us know them. I hope you like the new way to build blocks.

[2020-04-28 09:55] #500 closed

[2020-04-28 10:07] seratch commented on #492
@mar-muel
As Rodney shared, using `run_async=True` and having coroutines for listener functions decorated by `@RTMClient.run_on` has been working fine.

By contrast, `RTMClient` with `run_async=False` option (and this is the default) had an issue where the app may cause high CPU usage as reported at https://github.com/slackapi/python-slackclient/issues/569. I'm working on addressing the issue by P

[2020-04-28 10:07] #492 closed

[2020-04-28 10:41] seratch commented on #437
👋 As a weekend project, I've created a tiny PyPI package named `slack-scim` a few days ago.
* https://github.com/seratch/python-slack-scim
* https://pypi.org/project/slack-scim/

 If you have any feedback on it, please write in at [the project's GitHub issues](https://github.com/seratch/python-slack-scim/issues).

For the future, we haven't decided to support the SCIM APIs in this SDK yet. If many

[2020-04-28 10:59] seratch commented on #378
This is no longer an issue with 2.x https://github.com/slackapi/python-slackclient/pull/662/commits/5368136c04cf70b961784cc838c9db17f43375dc

Let me close this issue.

[2020-04-28 10:59] #378 closed

[2020-04-28 11:02] seratch commented on #377
As described at #650, `channels.history` is now deprecated. The successor of it is `conversations.history` API method.

version 2.5.0 already supports the API. https://github.com/slackapi/python-slackclient/blob/2.5.0/slack/web/client.py#L642-L651

Let me close this issue now.

[2020-04-28 11:02] #377 closed

[2020-04-28 11:05] seratch commented on #370
If you're still interested in working with the RTMClient, try the latest version (2.5.0 - we'll be releasing 2.6.0 soon) out and let us know how it goes.

Our team doesn't have any actions to take regarding this question at this point. If I won't get responses, please allow me to close this issue sometime in the future.

[2020-04-28 11:06] seratch commented on #365
As v1.x is no longer supported, please allow me to close this issue now. Thank you very much for taking the time to report this and make a pull request.

[2020-04-28 11:06] #365 closed

[2020-04-28 11:08] seratch commented on #356
version 1.x is no longer actively maintained. Please allow me to close this issue now.

[2020-04-28 11:08] #356 closed

[2020-04-28 11:10] seratch commented on #353
version 2.x enables developers to customize the base URL the following way:

[code]

[2020-04-28 11:10] #353 closed

[2020-04-28 11:14] seratch commented on #345
Allow me to close this issue to keep this place more manageable (I'm working on organizing the remaining issues).

Although this is a very old question, if you're still interested in this and have something further to ask, please feel free to reopen or add more comments. If you use this library now, I recommend using version 2.x.

[2020-04-28 11:14] #345 closed

[2020-04-28 11:18] seratch commented on #343
Roach already answered this question but let me add more information here. with version 2.x, it's possible to iterate paginated responses the following way:

[code]

[2020-04-28 11:18] #343 closed

[2020-04-28 11:23] seratch commented on #337
This project no longer supports version 1.x as we've described [here](https://github.com/slackapi/python-slackclient/wiki/Slack-Python-SDK-Roadmap#version-1x). Allow me to close this now.

[2020-04-28 11:23] #337 closed

[2020-04-28 11:35] seratch commented on #316
This is already two years ago. Please allow me to close this as the document pages have been updated a lot afterward. If you still see some issues with the latest pages, feel free to reopen this or write in here 🙇

[2020-04-28 11:35] #316 closed

[2020-04-28 12:58] seratch commented on #619
This issue seems to be caused by the same reason with #558

[2020-04-28 13:35] seratch commented on #574
@lettergram Sorry for our slow response here. I think the`RTMClient` is not intentionally designed for multiprocessing. So, it may not be easy to let the class work in your use case.

If you're still interested in this topic and you're happy to provide a complete code I can try, I may be able to do a bit deeper dive into the issue you faced.

Since the next minor version (=2.6.0), the behavior of

[2020-04-28 14:13] seratch commented on #480
If I understand this issue correctly, the pull request #544 has addressed this issue and the fix is included since version. 2.3.1.

@mkwarman
If you're still interested in this issue, could you verify if the issue has been resolved with 2.3.1+?

[2020-04-28 14:32] seratch commented on #476
Sorry for the delay on this issue for a long time.

My pull request #662 (submitted yesterday) is the solution to this issue. The change will be included in the next minor version 2.6.0. If everything goes well, it will be released within two weeks.

Since this version, the default synchronous `WebClient` (=`run_async=False`) doesn't use `asyncio` and `aiohttp` internally. Instead, it just uses `u

[2020-04-28 14:34] seratch commented on #429
Let me share the updates on this issue. My pull request #662 is going to be the solution to this issue. The fix will be included in the next minor version - 2.6.0. The version will be out within two weeks. Refer to https://github.com/slackapi/python-slackclient/issues/476#issuecomment-620645518 for more info.

[2020-04-28 14:37] seratch commented on #463
#662 fixes the issue where `run_async` arg in the constructor is not reflected.

[2020-04-28 14:53] seratch commented on #642
You're right. I just edited the title again.

[2020-04-28 14:56] seratch commented on #642
Yes, my understanding is the same as you. I hope aiohttp fixes this issue as soon as possible.

[2020-04-28 15:48] hbandlamudi commented on #476
@seratch I use the asynchronous version of the Slackclient and have been getting these errors for the past 2-3 months however freezing aiohttp  to 3.6.2 did not help resolve the issue.

[2020-04-28 15:55] cclauss commented on #381
What is the status of this issue?
Should the code above work?  If not, why not?
Would this logging connection be sync or async?

[2020-04-28 16:08] sterlingbaldwin commented on #573
Im having a similar issue, but I think I just dont understand the correct token to use.

[code]

and then running the command:
[code]

and get the error: ```The server responded with: {'ok': False, 'error': 'not_allowed_token_type'}```

I think Im just using the wrong token type, but the slack website doesnt make it obvious what token to use. This is the "Bot User OAuth Access Token" from the slac

[2020-04-28 16:12] mkwarman commented on #480
Hi @seratch, thank you for giving an update on this. I am still seeing the behavior as of slackclient 2.5.0. In the attached image I have one gunicorn worker process that has just made a few API calls after restarting a few minutes ago. The threads are still shown in `htop`. As far as I know, they aren't causing any problems since they're basically idle, but I would expect them to go away once the

[2020-04-29 01:12] seratch commented on #476
@hbandlamudi hmm, thanks for sharing this. May I ask you to provide a minimum working example that reproduces the issue easily? Or, it occasionally occurs when running the app for a while?

[2020-04-29 01:16] seratch commented on #573
@sterlingbaldwin Did you create your Slack app recently? If so, the default way no longer supports RTM. You need to create a "classic" Slack app from https://api.slack.com/apps?new_classic_app=1 . (you can find the link at the bottom of https://api.slack.com/authentication/migration)

similar issue: https://github.com/slackapi/python-slackclient/issues/609#issuecomment-608352189

[2020-04-29 01:20] seratch commented on #480
@mkwarman Thanks for your quick response! This is really helpful. I will check this out.

[2020-04-29 06:29] seratch commented on #480
@mkwarman
I just ran a small unit test on my local machine (it's not Linux but macOS though). I observed the difference between Python 3.6 and 3.8. If you don't mind it, could you verify the behavior with Python 3.8 in your environment? I'll also verify it on Linux later but if I could get your help, I'm grateful to you.

[code]

## Python 3.6.10

[code]

## Python 3.8.2

[code]

[2020-04-29 07:12] seratch commented on #476
I tried to reproduce this issue again but I was not able to. If someone could help us identify the reproduction steps, it would be greatly appreciated. As for version 2.6.0 development, I will focus on other remaining issues.

[2020-04-29 13:51] pjvv commented on #622
Also experiencing this issue when using the slack client as a logging handler.

[2020-04-29 21:29] sterlingbaldwin commented on #573
Thanks @seratch

[2020-04-29 21:34] hbandlamudi commented on #476
@seratch It's an intermittent issue but I've noticed it primarily for the api_test() and auth_test() calls.

[2020-04-29 23:35] acurt1 commented on #405
Same issue here. Is there any update or still need to iterate?

[2020-04-30 06:08] saurabh896 commented on #183
@Akoparna24 Can you provide code snippet where you getting that error?

[2020-04-30 15:31] mkwarman commented on #480
Hey @seratch thank you very much for researching this. I built python 3.8.2 locally and created a new virtualenv pointed to it. After restarting my project I can confirm that the issue is no longer present, I do not see any extra threads hanging around anymore 👍
![image](https://user-images.githubusercontent.com/7865063/80729362-295fcc80-8ad6-11ea-870a-a572ad49fde5.png)

[2020-04-30 15:35] denzilc commented on #573
I does work now. Just to note, I had put in the right token. Yet, it wasn't working. I did a clean install of the client and now it works. Thanks!

[2020-05-01 03:14] seratch commented on #573
@denzilc Great to know!

[2020-05-01 03:14] #573 closed

[2020-05-02 12:45] jhofeditz commented on #476
I reran my Web API synchronous processes, mostly conversations_replies() and conversations_history(), with this patch for the last two days and the issue appears to be fixed for me. (Previously the TimeoutError would occur within an hour). Looking forward to v2.6. Thanks!

[2020-05-02 16:08] KoenChiu opened #668 "ModuleNotFoundError: No module named 'slack'"
Couldn't find module named 'slack' after I `pip3 install slackclient`.

[code]

[2020-05-03 02:33] seratch commented on #668
@KoenChiu Finally, I figured out why this issue has been repeatedly reported 😅Running `pip uninstall slack` should work for you!

[2020-05-03 02:34] seratch commented on #668
hmm, this may be due to a bit different reason. but it's worth trying to remove the `slack` PyPI package (this project is `slackclient`)

[2020-05-03 02:36] seratch commented on #610
Check `pip list | grep slack` and if you see both `slack` and `slackclient`, try `pip uninstall slack`.

[2020-05-03 03:37] KoenChiu commented on #668
Hi @seratch ,
Yep, actually I only install `slackclient` package through `pip3` at first. Then I encountered the issues I mentioned when I try to `import slack` in my python app.
So I think if I need another package like `slack`. But it still doesnt work.

[2020-05-03 04:01] seratch commented on #668
At least having `slack` PyPI package prevents you to load `slack` package after resolving the issue described here. So, please uninstall it anyways.

[code]

Do you use anaconda or others for Python installation? If you go with a straight-forward way (e.g., pyenv + virtualenv or venv), you can smoothly install the package.

You don't need to use pyenv if you prefer others but the following steps s

[2020-05-03 05:31] KoenChiu commented on #668
Thanks for your reply, @seratch
It work for me under virtual environment of python. Verify to close this issue.

[2020-05-03 05:31] #668 closed

[2020-05-04 11:02] k0t3n opened #669 "Bad file descriptor error using Celery"
### Description

`postMessage` method fails using Celery

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/pyth

[2020-05-04 23:00] stevengill commented on #650
Looks good Kaz

[2020-05-05 22:34] seratch commented on #669
@k0t3n Thanks for reporting this. I'm working on the next minor version of this library. Since the next version (v2.6.0), `run_async=False` no longer depends on aiohttp (and its underlying asyncio). So, with the version, this problem won't occur. The version will be out sometime this month.

[2020-05-07 12:23] yuji38kwmt opened #670 "When running 'files_upload' with 'titile=None', `TypeError` is occurred."
### Description
When I run  'files_upload' with 'titile=None', `TypeError` is occurred.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](h

[2020-05-07 13:11] seratch commented on #670
Thanks for taking the time to report this. This is not specific to `files.upload` API method. I'll fix this for all API calls in the next release.

[2020-05-07 18:30] yuji38kwmt opened #672 "File with multi-byte characters in the filename can not be uploaded."
### Description

File with multi-byte characters in the filename can not be uploaded.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](htt

[2020-05-07 23:44] seratch commented on #672
Thanks again! I'll check this later today.

[2020-05-08 11:53] kuronekokami opened #674 "files_upload does not have consistent behaviour with official documentation."
### Description

files_upload 'channels' argument does not have consistent behaviour.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](htt

[2020-05-08 12:22] seratch commented on #674
Thanks for your feedback!

This part in the API doc might be a bit confusing to you but this means `channel_ids` is a string representing values separated by comma (in a single str value). So, the behavior of this library and the document are consistent.

That being said, we know it's confusing. So, this library recently started doing better for developers in some methods such as `admin_teams_sett

[2020-05-08 12:33] kuronekokami commented on #674
That is indeed an interesting choice. Do note that the second case I mentioned works even though it is still a list and not a string:

I'll just stick with strings for now. Thanks.

[2020-05-09 07:47] deod opened #675 "Invalid request signature for PythOnBoardingBot setup"
### Description

I have been following your tutorial and seem to be stuck at the Event Subscription request URL validation step. After pasting my [ingrok url]/slack/events, the server throws 500 INTERNAL SERVER ERROR

`slackeventsapi.server.SlackEventAdapterException: Invalid request signature
127.0.0.1 - - [09/May/2020 00:38:48] "POST /slack/events HTTP/1.1" 500 -`

Not sure if I'm doing somethin

[2020-05-10 01:52] diurnalist opened #676 "DateLinks are not rendered as dates"
### Description

Rendering `DateLink` objects will produce output not valid for automatic date formatting in Slack.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the

[2020-05-11 01:16] #672 closed

[2020-05-11 01:51] #676 closed

[2020-05-11 04:26] seratch commented on #480
@mkwarman Happy to hear that! Allow me to close this issue now.

[2020-05-11 04:26] #480 closed

[2020-05-11 04:50] #670 closed

[2020-05-11 06:32] #650 closed

[2020-05-11 08:52] #560 closed

[2020-05-14 03:39] bkyryliuk commented on #344
https://github.com/slackapi/python-slackclient/blob/dcd4be428cb145184b5accb19a3739c81940d36a/slack/web/client.py#L12 - doesn't have that option :(

[2020-05-14 03:40] bkyryliuk opened #685 "Lack of proxy support for the webclient"
https://github.com/slackapi/python-slackclient/blob/dcd4be428cb145184b5accb19a3739c81940d36a/slack/web/client.py#L12 - doesn't support proxy

[2020-05-14 03:43] bkyryliuk commented on #685
nevermind - it takes proxy as a param
https://stackoverflow.com/questions/46365527/make-python-3-x-slack-slackclient-use-a-corporate-proxy/47557492

[2020-05-14 03:43] #685 closed

[2020-05-14 03:57] #639 closed

[2020-05-14 03:57] #519 closed

[2020-05-14 03:57] #628 closed

[2020-05-14 03:58] #611 closed

[2020-05-14 04:14] seratch commented on #633
This would be partially resolved by #662

With the changes in the PR, `WebClient` w/ `run_async=False` (the default mode) no longer depends on asyncio and aiohttp in terms of its behaviors. By contrast, `RTMClient` is not free from aiohttp as of version 2.6.x. For the future, I've not yet decided if I should use my time to get rid of asyncio/aiohttp in `RTMClient` (I'm currently working on the Bol

[2020-05-14 04:15] seratch commented on #522
Resolving this will be out of scope in v2.6.

[2020-05-14 08:04] seratch commented on #623
Fixed by #659

[2020-05-14 08:04] #623 closed

[2020-05-14 08:06] seratch commented on #619
Fixed by #667

[2020-05-15 02:09] seratch commented on #645
#662 fixes this for `run_async=False` (False is the default so that you're using False mode if you don't explicitly give this option) as the sync mode no longer depends on aiohttp library.

[2020-05-15 02:11] seratch commented on #631
Let me close this issue now as #662 resolved this for the `run_async=False` mode.

[2020-05-15 02:11] #631 closed

[2020-05-15 02:11] seratch commented on #569
Let me close this issue now as #662 resolved it.

[2020-05-15 02:11] #569 closed

[2020-05-15 02:12] seratch commented on #630
Let me close this issue now as #662 resolved this for the `run_async=False` mode.

[2020-05-15 02:12] #630 closed

[2020-05-15 02:12] seratch commented on #530
Let me close this issue now as #662 resolved it.

[2020-05-15 02:12] #530 closed

[2020-05-15 02:13] seratch commented on #497
Let me close this issue now as #662 resolved this for the `run_async=False` mode.

[2020-05-15 02:13] #497 closed

[2020-05-15 02:14] seratch commented on #626
Let me close this issue now as #662 resolved it.

[2020-05-15 02:14] #626 closed

[2020-05-15 02:15] seratch commented on #613
Let me close this issue now as #662 is resolving it.

[2020-05-15 02:15] #613 closed

[2020-05-15 02:16] seratch commented on #463
Let me close this issue now as #662 is resolving it.

[2020-05-15 02:16] #463 closed

[2020-05-15 02:16] seratch commented on #429
Let me close this issue now as #662 is resolving it.

[2020-05-15 02:16] #429 closed

[2020-05-15 02:16] seratch commented on #669
Let me close this issue now as #662 is resolving it.

[2020-05-15 02:16] #669 closed

[2020-05-15 02:17] jourdanrodrigues commented on #645
@seratch I was using it in async mode (forgot to specify). Does it change anything?

[2020-05-15 02:20] seratch commented on #645
@jourdanrodrigues Thanks for responding. In the case, this may still exist depending on aiohttp's matters. Let me remove re-open this and remove the milestone v2.6.0.

[2020-05-15 04:02] seratch commented on #676
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback if you find something wrong with it? Thank you very much for being patient with

[2020-05-15 04:02] seratch commented on #672
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback if you find something wrong with it? Thank you very much for being patient with

[2020-05-15 04:02] seratch commented on #670
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback if you find something wrong with it? Thank you very much for being patient with

[2020-05-15 04:02] seratch commented on #669
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback if you find something wrong with it? Thank you very much for being patient with

[2020-05-15 04:02] seratch commented on #635
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:02] seratch commented on #631
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:03] seratch commented on #630
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:03] seratch commented on #628
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:03] seratch commented on #626
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:03] seratch commented on #623
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:03] seratch commented on #619
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:03] seratch commented on #613
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:03] seratch commented on #611
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:03] seratch commented on #605
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:03] seratch commented on #594
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:04] seratch commented on #569
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:04] seratch commented on #560
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:04] seratch commented on #558
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:04] seratch commented on #530
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:04] seratch commented on #519
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:04] seratch commented on #500
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:05] seratch commented on #497
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:05] seratch commented on #492
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:05] seratch commented on #463
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 04:05] seratch commented on #429
👋 slackclient **2.6.0rc1** is out. The pre-release version contains fixes for your issue described here.
https://pypi.org/project/slackclient/2.6.0rc1/

One week later from now, we'll be releasing version 2.6.0 to PyPI.

If you have a chance, could you try the release candidate version out and let us know your feedback? Thank you very much for being patient with this issue.

[2020-05-15 09:03] JohnPaton commented on #429
I just tried out 2.6.0rc1 from both Jupyter and the python interpreter and it works as expected! Great work

[2020-05-15 16:46] coltenkrauter commented on #569
**2.6.0rc1** Seems to have improved CPU usage for me. 🎈

[2020-05-15 17:25] ruberVulpes commented on #519
Sounds good, I'll try to give it a go this weekend. I looked over the source and it looked good to me. Thanks so much.

[2020-05-17 02:40] ruberVulpes commented on #519
I was able to get it working, I'll drop the code snippet I used to test it below.
[code]
If this looks like good usage I wouldn't mind adding it to the[ documentation for the usage of the message and dialog builders](https://github.com/slackapi/python-slackclient/blob/fa373110ba64f002ff2094d752d5b09ec64cd539/slack/web/classes/readme.md).

I did have some problems getting started at first. The only

[2020-05-17 05:24] seratch commented on #519
@ruberVulpes Thanks! I've revisited the `View` class:

* Added a few more validations to `View` class
* Updated `WebClient#views_open` method to accept a `View` object
* Added another working example with the builder class: https://github.com/slackapi/python-slackclient/blob/6080f1ed0d1e96a51edca3d34ab95ec58fee56dc/integration_tests/samples/basic_usage/views_2.py

If you have more feedback, access

[2020-05-19 09:53] marshallino16 opened #690 "2.6.0rc1 invalid_client_id"
### Description

Passing from 2.5.0 to 2.6.0rc1 broke the oauth_v2_access method. it keeps returning an invalid_client_id error.

### What type of issue is this?
- [x ] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements
* [ x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/p

[2020-05-19 10:21] seratch commented on #690
Thank you very much for taking the time to report this. I'll fix this.

[2020-05-19 12:00] seratch opened #692 "Getting superfluous_charset warnings since v2.4.0"
### Description

It's late to notice this ... 🤦but, since this commit https://github.com/slackapi/python-slackclient/commit/863e1d35b167a18561abbcdceaf7598c34c0366d that was included in v2.4.0, this library has been sending `application/x-www-form-urlencoded;charset=utf-8` for `Content-Type` request header. However, the `;charset=utf-8` is unnecessary and it has been causing the following warning

[2020-05-19 12:21] #690 closed

[2020-05-19 12:21] #692 closed

[2020-05-19 13:11] seratch commented on #690
@marshallino16 I've fixed this issue and published a new RC version to PyPI. Could you try it out when you have a chance? https://pypi.org/project/slackclient/2.6.0rc2/

Thank you again for reporting this!

[2020-05-19 13:30] marshallino16 commented on #690
Already!

I've just tested it, 100% fixed

Thank you

[2020-05-19 15:34] dinesh-shankar commented on #183
it works !! Thanks

[2020-05-19 23:21] seratch commented on #675
I've tried the tutorial sample yesterday for document updates but I didn't see this issue. Could you make sure if your "SLACK_SIGNING_SECRET" and Request URL for Events Subscriptions are really correct?

[2020-05-20 05:15] seratch commented on #380
@rkbala Hi, we're sorry for our slow response here. The first line of your code seems to generate a tuple but the library doesn't expect to receive tuples as arguments.

[code]

Creating a concrete str value for the `text` argument should work for you.

[2020-05-20 05:17] seratch commented on #95
As we're no longer actively working on the v1.x series, please allow me to close this issue now. If you have similar issues with the latest version, please let us know the issue.

[2020-05-20 05:17] #95 closed

[2020-05-20 05:19] seratch commented on #214
Is anyone facing an issue similar to this with v2.x (I mean not with v1.x)?

[2020-05-20 05:20] seratch commented on #270
I'll be adding a new class that provides a handy way to use webhooks and response_urls soon.

[2020-05-20 05:23] seratch commented on #273
Does anyone encounter this issue with v2.x series? If not, please allow me to close this issue after waiting for responses for a few weeks. We're no longer actively working on the v1.x series. We appreciate your understanding. 🙇

[2020-05-20 05:23] seratch commented on #289
Does anyone encounter this issue with v2.x series? If not, please allow me to close this issue after waiting for responses for a few weeks. We're no longer actively working on the v1.x series. We appreciate your understanding. 🙇

[2020-05-20 05:23] seratch commented on #331
Does anyone encounter this issue with v2.x series? If not, please allow me to close this issue after waiting for responses for a few weeks. We're no longer actively working on the v1.x series. We appreciate your understanding. 🙇

[2020-05-20 05:24] seratch commented on #336
Does anyone encounter this issue with v2.x series? If not, please allow me to close this issue after waiting for responses for a few weeks. We're no longer actively working on the v1.x series. We appreciate your understanding. 🙇

[2020-05-20 05:25] seratch commented on #339
Does anyone encounter this issue with v2.x series? If not, please allow me to close this issue after waiting for responses for a few weeks. We're no longer actively working on the v1.x series. We appreciate your understanding. 🙇

[2020-05-20 05:26] seratch commented on #348
As we're no longer actively working on the v1.x series, please allow me to close this issue now. We appreciate your understanding. :bow:

If you have similar issues with the latest version, let us know the issue.

[2020-05-20 05:26] #348 closed

[2020-05-20 05:41] seratch commented on #381
As the following sample shows, with a plain env, it should work. But I know logging package may have the issue described here with some environments (e.g., AWS Lambda).

In the case, try the following code before initializing your app. It should work for you.

[code]

## Working Example

### Prerequisites

[code]

### app.py

[code]

### Run the script

[code]

[2020-05-20 05:46] seratch commented on #385
As 1.3.1+ versions are free from this issue (by locking the dependency version), let me close this issue now.

[2020-05-20 05:46] #385 closed

[2020-05-20 05:52] seratch commented on #389
@miklasz If you don't mind, could I close this issue? Regarding this, I don't see anything further I (as a maintainer of this library) can do for you. Allow me to close this issue after waiting for your response for a while.

[2020-05-20 05:54] seratch commented on #396
Thanks for reporting this. The latest document and samples in the repository are surely correct. Allow me to close this issue now.

* https://slack.dev/python-slackclient/basic_usage.html#uploading-files
* https://github.com/slackapi/python-slackclient/blob/master/integration_tests/samples/readme/uploading_files.py

[2020-05-20 05:54] #396 closed

[2020-05-20 06:02] seratch commented on #402
As long as you use `chat.postMessage` (not `chat.postEphemeral`), all messages your bot user posts should be in_channel ones.

Just in case, I tried to reproduce the issue but I was not able to.

[code]

Let me know if you need further help here.

[2020-05-20 06:05] seratch commented on #403
This is going to be addressed by "Bolt for Python" development.
https://trello.com/c/cSi1L0d0/90-bolt-for-python

Using the Bolt framework should be the easiest way but I'm going to provide the primitive modules separately from Bolt itself. A new PyPI package as the successor of `slackclient` will contain all the missing parts of the Slack Platform features.

[2020-05-20 06:08] seratch commented on #411
As it looks I can safely close this issue now, let me close this now.

[2020-05-20 06:08] #411 closed

[2020-05-20 06:13] seratch commented on #426
As we will do this separately in collaboration with the Slack's DevRel content team, let me close this issue now.

In addition to the PythOnBoardingBot tutorial, I've added some working samples here: https://github.com/slackapi/python-slackclient/tree/master/integration_tests/samples

If you're looking for complete versions of code snippets in this library's documents, access those samples.

[2020-05-20 06:13] #426 closed

[2020-05-20 06:15] seratch commented on #432
It seems I can safely close this issue now. Please feel free to reopen if you have anything further here.

[2020-05-20 06:15] #432 closed

[2020-05-20 06:17] seratch commented on #437
👋 Please add reactions or write comments if you really need SCIM API supports in this library.

[2020-05-20 06:22] seratch commented on #442
This may be a good option but we're not planning to implement it as part of this library. The straight-forward way to enable more efficient and quick ways to upload multiple files would be having another path to do that. I'll share this feedback with the teams concerned. Let me close this issue now.

[2020-05-20 06:22] #442 closed

[2020-05-20 06:23] seratch commented on #449
As we're no longer actively working on the v1.x series, please allow me to close this issue now. We appreciate your understanding. :bow:
If you have similar issues with the latest version, let us know the issue.

[2020-05-20 06:23] #449 closed

[2020-05-20 06:25] seratch commented on #472
Allow me to close this issue now due to the above reason.

When you have anything further to discuss here, please feel free to reopen this.

[2020-05-20 06:25] #472 closed

[2020-05-20 06:31] seratch commented on #479
As I left a comment at #558 https://github.com/slackapi/python-slackclient/issues/558#issuecomment-629013472

v2.6.0 is going to resolve the issues you've reported here and #558 The new minor version will be released within a few days. You can try v2.6.0rc2 out in advance. If you have a chance, test the version and let us know if you have feedback.
https://pypi.org/project/slackclient/2.6.0rc2/

A

[2020-05-20 06:31] #479 closed

[2020-05-20 06:35] seratch commented on #506
@justdave Thanks for answering the question here.
@staticdev Do you have anything further to ask here? If not, could you close this issue now?

[2020-05-20 06:39] seratch commented on #508
@Gerardwx Thanks for taking the time to report this. Is it possible to ask you to try v2.6.0rc2 out when you have a chance?  https://pypi.org/project/slackclient/2.6.0rc2/

I've changed the execution model since this minor version for `run_async=False` (the default) mode to be more straight-forward. So, the new behavior should be like you expect as with v1.

[2020-05-20 06:41] seratch commented on #531
As we'll be tracking this feature request with #270, allow me to close this issue now. Thank you very much for taking the time to share your feedback.

[2020-05-20 06:41] #531 closed

[2020-05-20 06:45] seratch commented on #536
The implementation will be as below. I'm planning to add this feature in v2.7+

[code]

[2020-05-20 06:47] seratch commented on #537
Let me know if you have anything further to discuss here. Otherwise, allow me to close this issue after waiting for your response for a few weeks.

[2020-05-20 06:48] seratch commented on #551
Allow me to close this issue now as we, the maintainers of this library, don't have actions to take so far. That said, feel free to reopen this whenever you see the necessity.

[2020-05-20 06:48] #551 closed

[2020-05-20 06:52] seratch commented on #538
I do understand the frustration about the decorator design using a class method. We may be able to add something to eliminate this issue in v2.7 or 3.0+ but I cannot tell when to provide it (as I have some other higher priority tasks). If you already have a great idea for improvement without bringing any breaking changes, we'd love to know it.

[2020-05-20 06:55] seratch commented on #574
@lettergram
If you don't mind, could I ask you to try v2.6.0rc2 out and provide feedback on it? https://pypi.org/project/slackclient/2.6.0rc2/

The version doesn't any changes specific to the issue you described here but I've applied a bunch of improvements to `RTMClientt` and `WebClient` w/ `run_async=False`. They may help you resolve some issues you've faced with previous versions.

[2020-05-20 06:59] seratch commented on #590
@carchi8py Let me know if you need further help here. We're not observing any issues with the API and as Shay mentioned, the method in this library can accept `team_id` argument.

[2020-05-20 07:04] seratch commented on #592
As an active maintainer of this project, I'm not positive to manually write more docstrings. There are two reasons:
* Maintaining docstrings can be hard as they can be easily outdated (Slack APIs have been changing)
* Having plenty of docstrings negatively affects the readability of the code.

If we can automate the generation - not only docstrings but method args with the existing conversion logi

[2020-05-20 07:06] seratch commented on #610
Allow me to close this issue as we need to keep this place maintainable. Please feel free to reopen whenever you see the necessity.

[2020-05-20 07:06] #610 closed

[2020-05-20 07:15] seratch commented on #612
I've updated the wiki page a bit. As v2 doesn't have any supports for Events API, we cannot say anything part from mentioning https://github.com/slackapi/python-slack-events-api

The change: https://github.com/slackapi/python-slackclient/wiki/Migrating-to-2.x/_compare/f8aa1db2697f0b705c68ddfa8a2aa397fbd22f97

To other maintainers:
If you see rooms for improvement, please freely edit the page.

Whe

[2020-05-20 07:15] #612 closed

[2020-05-20 07:33] seratch commented on #615
@JasonS-Bellevue Do you use `run_async=True` (the default is `False`)? If not, the issue won't affect you since the next minor version - 2.6.0. The new version no longer relies on asyncio for synchronous usage.

[2020-05-20 07:37] seratch commented on #622
Note: I observe this warning with **aiohttp 3.6.2 + Python 3.8.x** while **it doesn't appear with Python 3.7.x**. It may be related to the internals of asyncio or the combination of aiohttp and python standard APIs.

[code]

[2020-05-20 07:38] seratch commented on #622
I'm not planning to actively work on this in the short term. If someone finds a solution and shares it with us, it'd be greatly appreciated.

[2020-05-20 07:45] seratch commented on #674
I've fixed this issue for all the required args in v2.6 (by allowing either `List[str]` or `str`) but we're not planning to add kwargs to all the optional arguments.

As we don't have any further actions to take on this, allow me to close this issue now. Be noted that API callers need to give a single string value for "ids" arguments (e.g., `channel_ids`, `users` etc.).

[2020-05-20 07:45] #674 closed

[2020-05-20 07:57] seratch commented on #614
I've created a pull request addressing this #694 Can you take a look at the change you have a chance?

[2020-05-20 15:12] carchi8py commented on #590
sorry i missed this earlier. This can be closed.

[2020-05-21 00:21] seratch commented on #590
Thanks for your prompt response! Going to close this now.

[2020-05-21 00:21] #590 closed

[2020-05-21 04:10] #614 closed

[2020-05-21 07:29] seratch opened #695 "Calls API support"
### Description

<a href="https://api.slack.com/changelog"><img width="400" src="https://user-images.githubusercontent.com/19658/82531504-7e917a00-9b7a-11ea-9d8c-3162b510e02f.png"></a>

Five `calls.*` API methods are now public.

* [calls.add](https://api.slack.com/methods/calls.add)
* [calls.end](https://api.slack.com/methods/calls.end)
* [calls.info](https://api.slack.com/methods/calls.info)
* [

[2020-05-21 14:32] dhruvrnaik opened #696 "chat_update function does not accept channel name as parameter"
### Description

channel parameter in the function `chat_update` only accepts the channel_id as a valid parameter.

I am getting the following error when passing channel name (eg: **#general**) as channel parameter:
`The server responded with: {'ok': False, 'error': 'channel_not_found'}
`
`chat_postMessage` accepts channel_name as valid input for parameter channel, thus should be the case with `ch

[2020-05-21 14:41] seratch commented on #696
@dhruvrnaik As you've observed, `chat.update` doesn't accept a channel name for `channel` argument while while `chat.postMessage` does. This is a server-side spec.

Generally speaking, when you're going to update a message, you should know its channel id as well because the message object has the value.

[2020-05-21 15:03] dhruvrnaik commented on #696
Yes, that's what I thought. Thanks for the clarification.

It would be helpful if this is mentioned in the docs for `chat_update`, since the parameter name `channel` remains same.

Thanks a lot!

[2020-05-21 15:20] #696 closed

[2020-05-21 16:11] kujon opened #697 "Multiple errors when querying the api with the same client, roughly simultaneously"
### Description

Hello 👋 I noticed that if you start using slack client instance as a singleton in your app, you shall ready yourself for a lot of confusing exceptions. Personally, so far I've got:
[code]

I think it would be awesome to document that it is preferred to create a fresh slack client instance per request. That is unless I'm missing something and it's a bug.

### What type of issue is

[2020-05-21 16:17] seratch commented on #697
Can you share more information? In particular, I'm curious about:

* `run_async=True` or `False` (the default is False)
* slackclient version
* Python version
* OS info
* a minimum piece of code you use if possible

If you use `run_async=False` (the default) and version 2.x, could you try v2.6.0rc2 out?
https://pypi.org/project/slackclient/2.6.0rc2/

With this version, you won't be necessarily aff

[2020-05-21 16:38] kujon commented on #697
Sure thing @seratch!
1. With `run_async=True` and a singleton client instance, I'm consistently getting:
[code]
2. slackclient==2.5.0
3. Python 3.7.4
4. macOS mojave, 10.14.6
5. All requests more or less do `client.conversations_list()` to find the id of the channel by name, followed by `client.conversations_history()`.

[2020-05-21 16:40] kujon commented on #697
Bear in mind that creating a new `WebClient` instance for each request makes all of the above disappear.

[2020-05-21 16:43] kujon commented on #697
Another piece of info is that I'm doing the following:

[code]

This is to allow nested asyncio loops. If I don't do that, I'm getting the similar issue to what notebook users have experienced in the past: https://github.com/slackapi/python-slackclient/issues/429

[2020-05-21 16:47] seratch commented on #697
@kujon Thanks. The outcome is a bit different but it looks a similar issue with https://github.com/slackapi/python-slackclient/issues/497#issuecomment-617536013

As you mentioned, if you really want to use `run_async=True`, there is no other option apart from creating a dedicated `WebClient` instance per Flask request.  See also: https://github.com/slackapi/python-slackclient/blob/master/integrati

[2020-05-21 16:48] seratch commented on #697
I will update the document a bit. Thanks for the suggestion.

[2020-05-21 16:49] kujon commented on #697
Thanks a lot for your help @seratch, that was rapid!

[2020-05-22 02:10] seratch commented on #697
I've added a new part in FAQ regarding this. https://slack.dev/python-slackclient/faq.html#should-i-go-with-run-async

Let me close this issue now. Thanks for asking this question here!

[2020-05-22 02:10] #697 closed

[2020-05-22 11:43] rayboot13 commented on #424
Hey,

So I tried to use your code (see below) to connect my bot, but I'm getting the error. Sorry I'm still pretty new to creating a slackbot.:

`import os
import logging
import slack
import ssl as ssl_lib
import certifi

@slack.RTMClient.run_on(event="message")
def message(**payload):
    data = payload["data"]
    web_client = payload["web_client"]
    channel_id = data.get("channel")
    user_i

[2020-05-22 21:48] pbrackin opened #701 "2.6 RTM Client will drop messages if they come in rapid succession"
### Description

I am running both the WebClient and the RTMClient within a Django 2.2 framework.  The WebClient has always worked great for us, but we need the RTM client in certain environments  due to firewall issues.  Django 2.2 is not really async friendly, so we need to run with run_async=False for now.

With the 2.5 client, I got it to work for the most part, but I would occasionally see th

[2020-05-24 01:02] seratch commented on #508
Version 2.6.0 has been released and `WebClient`'s default execution model no longer depends on asyncio (=using async/await on a non-blocking runtime). Let me close this issue now.

Please feel free to reopen this whenever you find something further to ask/discuss here.

[2020-05-24 01:02] #508 closed

[2020-05-24 03:33] kkagill commented on #537
Thank you @seratch. So based on what you said it's my server-side app that is not capable of managing bunch of messages per second right?

[2020-05-24 04:01] seratch commented on #537
This message indicates your app's Incoming Webhook was excessively used within a short time period. The rate limit for incoming webhooks is "1 per second + short bursts >1 allowed" (https://api.slack.com/docs/rate-limits). If your RTM app doesn't use Webhooks in RTM callbacks, this is not directly caused by your RTM app.

Nonetheless, when it comes to your workspace's situation, your RTM client ha

[2020-05-25 01:09] seratch commented on #558
#667 was not the right solution for this issue. We need to reopen this issue.

[2020-05-25 01:10] seratch commented on #619
#667 was not the right solution for this issue. We need to reopen this issue.

[2020-05-25 01:25] #701 closed

[2020-05-25 01:26] seratch commented on #701
I will be releasing v2.6.1 very soon. The version no longer has this issue. Thanks for reporting this 🙇

[2020-05-25 01:38] seratch commented on #701
v2.6.1 is out. Could you try it out when you have a chance?
https://pypi.org/project/slackclient/2.6.1/

Thanks again for taking the time to report this issue.

[2020-05-25 01:57] seratch commented on #537
I just released v2.6.1 - the version doesn't have any known issues. If you consider upgrading, try the latest version.

[2020-05-25 04:17] ryanjcohen commented on #675
Hello, facing the same issue. Any solutions?

[2020-05-25 07:04] seratch commented on #675
@ryanjcohen Could you verify the string you've set for `SLACK_SIGNING_SECRET` again?

[2020-05-25 21:01] uw-lthompson commented on #675
Hi there,

I am having what seems to be the same problem.

I previously had a Slack app on Python 2.7 working totally fine. However, we're upgrading to Python 3.8 now. I'm just going in to make sure it will still work and updating the few areas where the syntax has changed. But now for my internal testing I'm unable to set a new request URL for my temporary ngrok address.

I get "Your request URL

[2020-05-26 00:19] seratch commented on #675
Here is general guidance to start a minimum Flask app using Events API. The labels in Slack App config pages may be changed in the future. The following ones are as of May 26, 2020.

## Set up your Slack App

* Create a new app: https://api.slack.com/apps?new_app=1
  * App Name: **Python Tutorial App**
  * Development Workspace: One of your workspaces
* Create a bot
  * Click **Permissions** in **

[2020-05-26 00:20] seratch commented on #675
@uw-lthompson

This looks like a different error from the signature verification failure. Make sure if your Request URL is valid. A common mistake is misspelling the path `/slack/events`.

[2020-05-26 16:00] pbrackin commented on #701
That seems to have addressed this issue.  Impressive turnaround time - thank you!

[2020-05-28 09:42] seratch opened #705 "WebClient's paginated API calls may fail with no params (v2.6.0+)"
### Description

Since version 2.6.0, `WebClient` w/ `run_async=False` may fail during paginated API calls only when the call doesn't have any params.

[code]

[code]

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in ea

[2020-05-28 16:36] neelraman commented on #436
@seratch I've found that whenever I hit the rate limit, the response headers always have Retry-After = 1, which is clearly not enough time. Further, even if I wait for 30 seconds instead, I've found that it can sometimes take 6+ attempts (so 3 minutes of waiting) before returning successful responses again. The methods I'm using are all in Tiers 3 and 4, so I'm a bit confused how I'm even hitting

[2020-05-28 22:11] #705 closed

[2020-05-28 22:54] seratch commented on #436
@neelraman Can you share the list of methods (no need to be a complete list)? I can verify with those, just in case.

[2020-05-29 00:26] seratch commented on #370
One month passed since I wrote the above comment. Let me close this issue now.

[2020-05-29 00:26] #370 closed

[2020-05-29 00:45] neelraman commented on #436
@seratch thanks for the quick response! I did some further research, and it's actually only conversations.replies that is consistently giving me Retry-After=1 when I hit the rate limit.

[2020-05-29 07:26] Eothred commented on #594
Thanks for fixing. I unfortunately don't have time to test in the coming days but your fix looks very much correct as far as I can judge. Looking forward to try it out :)

[2020-05-31 00:21] seratch opened #708 "Add default_to_current_conversation in (multi_)conversations_select"
### Description

The property was released very recently.

* conversations_select: https://api.slack.com/reference/block-kit/block-elements#conversation_select
* multi_conversations_select: https://api.slack.com/reference/block-kit/block-elements#conversation_multi_select

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [x] enhancement (feature request)
- [ ] questio

[2020-06-01 07:18] seratch commented on #625
Please allow me to close this issue now (refer to https://github.com/slackapi/python-slackclient/pull/632#issuecomment-636658452 for the reason).

If you still see this issue with v2.6+, please feel free to reopen this issue. 🙇

[2020-06-01 07:18] #625 closed

[2020-06-01 12:19] seratch commented on #619
This issue is not yet resolved but let us track the progress with #558

[2020-06-01 12:19] #619 closed

[2020-06-01 15:49] staticdev commented on #506
@justdave The whole problem is that I not using either WebClient or RTMClient. I am using SlackClient and trying to migrate using the guide. So I don't know if I use 'RTMClient' or 'WebClient'. The link you sent me did not help me at all, since RTMClient has the start() method I am using.

[2020-06-01 23:01] seratch commented on #506
@staticdev
For the v2 migration of https://github.com/staticdev/k8s-python-slackbot/blob/master/echobot.py, the app will be mainly using `RTMClient` for receiving events from Slack. But, the app will also use `WebClient` for Web API calls.

For instance, the following code:

[code]

can be as below with slackclient v2.

[code]

For examples with `RTMClient`, refer to https://slack.dev/python-slack

[2020-06-02 00:49] staticdev commented on #506
Nice @seratch, thanks. So if RTMClient creates a WebClient, is it possible to create a RTMClient in the begining instead, test the connection (with auth_test() from the WebClient created) and get the bot_id instead?

[2020-06-02 01:19] seratch commented on #506
@staticdev Probably, doing like this is a possible solution for it.
https://github.com/slackapi/python-slackclient/blob/db08cccfcf288545d962c674a35639ab93ba94f6/integration_tests/samples/issues/issue_506.py

[2020-06-02 01:36] staticdev commented on #506
Perfect @seratch!! I already corrected the bugs with your solution. Thanks a lot for the effort. So in the end, the answer to the initial question is RTMClient. Issue closed =).

[2020-06-02 01:36] #506 closed

[2020-06-02 01:36] #536 closed

[2020-06-02 01:37] #708 closed

[2020-06-02 01:37] #695 closed

[2020-06-02 01:53] #270 closed

[2020-06-02 23:07] seratch commented on #436
@neelraman I've confirmed this with the server-side teams. The `Retry-After` looks a bit generous but the API is still Tier 3.

If retries after 1 second in the case don't work for you, could you submit an inquiry to our support team? They can investigate more deeply by accessing the data of your apps and workspaces.

[2020-06-03 13:18] DanialErfanian opened #712 "Add timeout support to API calls"
### It isn't possible to set timeout for API calls
I couldn't find timeout option in WebhookClient `__init__` or it's `send` method.
For any reason maybe API calls takes much time to be received and responded.
It can be performed with asking user to set timeout when instantiating client(absolutely with default value for backward compatibility).

[2020-06-03 13:49] seratch commented on #712
@DanialErfanian Thanks for taking the time to report this. You're right. The class should have the option. I will add it and release a new patch version including the improvement soon.

[2020-06-04 09:27] seratch opened #714 "proxy argument is unsupported in sync client since v2.6"
### Description

Since v2.6.0, `run_async=False` mode `WebClient` hasn't been working with `proxy` option.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contrib

[2020-06-04 10:49] #389 closed

[2020-06-04 20:55] #714 closed

[2020-06-04 21:03] ruberVulpes commented on #270
@seratch The webhook class is pretty cool

[2020-06-04 21:27] #712 closed

[2020-06-05 01:11] seratch commented on #712
@DanialErfanian Thanks a lot for reporting this issue. I've released a new patch version (2.7.1) including the fix for this issue. Try the latest version out when you have a chance!

[2020-06-05 19:43] bkievitkylar commented on #609
We are unable to use event subscription and unable to create new classic app with RTM access.

We want to run our Slack bot on a cloud server which gives us two very large reasons that the event subscription model is not practical for us. 1) You need to have both a static IP as well as a domain name to use this model. While possible, these do not facilitate dynamically generating slack bots. 2) Th

[2020-06-05 22:29] jeffbuswell opened #718 "Raise a more relevant error when getting a JSONDecodeError for some reasons"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [X] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [X] I've read and understood the [Contributing guidelines](https://github.com/slackapi/python-slackclient

[2020-06-05 22:59] seratch commented on #718
@jeffbuswell Thanks for taking the time to report this.

I tried to reproduce this issue by calling `team_info` 50+ times on my end (macOS + slackclient 2.6.2) but I was not able to see the same situation.

Regarding the occasional errors with such an unexpected HTML response, how often did you face the issue?

Also, just in case, could you try adding the following lines of code at the beginning o

[2020-06-05 23:14] seratch commented on #609
@bkievitkylar
Here is the up-to-date way to create a new RTM app. I know it may be a bit confusing. I hope this comment will help you and other folks.

* Go to https://api.slack.com/apps?new_classic_app=1 and create a classic app
* Go to **OAuth & Permissions** in the left pane
* Add `bot` scope in the **Scopes** section
  * You'll see a warning saying "This scope is deprecated. Please update scop

[2020-06-08 07:44] sangeethavenkatesan opened #719 "View submission sending to channel with fields(title,value)"
Sending response to the channel for actioning the submitted modal### Description

1. Opened a view (modal) with date picker, on submit--  200 response sent to slack server.  Since I have only trigger id from the view submitted. Please tell me how can I post the attachment message in the channel. I don't have a response URL also in my view submit JSON. Not sure how can I send messages response to c

[2020-06-08 09:48] seratch commented on #719
@sangeethavenkatesan 👋 Thanks for asking a question here.

Check the following document and sample code.

* https://github.com/slackapi/python-slackclient/blob/v2.7.1/integration_tests/samples/basic_usage/views_default_to_current_conversation.py
* https://api.slack.com/reference/block-kit/block-elements#conversation_select

As you mentioned, the Slack server doesn't provide channel_id when you ope

[2020-06-08 13:23] bkievitkylar commented on #609
Thank you,

That appears to have worked in creating a legacy bot.

[2020-06-08 13:42] seratch commented on #609
@bkievitkylar Glad to know that!

[2020-06-08 13:45] sangeethavenkatesan commented on #719
Hello Seratch, Thank you for the response. But the modal am working on has input block with date picker. I cant add conversation tag above since it is allowed in conversations list input block. My modal has two date picker elements. Am not able to track the channel id here. Please let me know how to post the view in this case to the channel. Which view method should i use.

Another question:
For m

[2020-06-08 14:11] seratch commented on #719
@sangeethavenkatesan

I meant you can have multiple input blocks - multiple date pickers + conversation selects + whatever else.

Check [this sample](https://app.slack.com/block-kit-builder/#%7B%22title%22:%7B%22type%22:%22plain_text%22,%22text%22:%22My%20App%22,%22emoji%22:true%7D,%22submit%22:%7B%22type%22:%22plain_text%22,%22text%22:%22Submit%22,%22emoji%22:true%7D,%22type%22:%22modal%22,%22clo

[2020-06-08 15:18] sangeethavenkatesan commented on #719
Awesome. Let me try mrkdown. And for the channel_id, I should i have at least one conversation element in my block right to get it, because currently my modal has two date pickers start and end date, am calling third party API to get the data in that time frame and display the data as a block.

If I had to display as a new view, which view method i should use in this case ?

[2020-06-08 15:45] seratch commented on #719
@sangeethavenkatesan For keeping some information across multiple modal views, you can use `private_metata`, a string data invisible in the user interface. Your app can have the field in `view` objects and can freely update the value when receiving `view_submission` / `block_actions` requests. Refer to https://api.slack.com/reference/surfaces/views for details.

Also, if your app provides a slash

[2020-06-08 16:36] sangeethavenkatesan commented on #719
got it, see this is the flow am working on. Created a button, clicking that button generates triiger_id, using that to open a modal using views.open which has two elements date picker. On submission of the view i want to post a new view(not as a modal) but as a new attachment to the channel.

1. Am missing channel_id in this case. repsonse_url also is null. In this case not sure how to send that a

[2020-06-08 23:00] seratch commented on #719
Views are supposed to be used for either modals or Home tabs. So, I'm still not sure what you meant by above yet but if the goal is to post a message using attachments in a channel, just calling `chat.postMessage` works. Regarding channel_if for it, as I mentioned in the previous comment, you can use either private_metadata or conversation_select input block to ask users to provide it in a modal.

[2020-06-09 04:38] sangeethavenkatesan commented on #719
Awesome thanks a lot for the response. Understood!

[2020-06-09 04:46] seratch commented on #719
I'm glad that I could help you out. Enjoy making Slack apps!

[2020-06-09 04:46] #719 closed

[2020-06-09 04:50] seratch commented on #675
@ryanjcohen Was [my comment for you](https://github.com/slackapi/python-slackclient/issues/675#issuecomment-633750307) helpful? Let me know if you still need further help here.

[2020-06-09 05:29] sangeethavenkatesan commented on #719
Sure :), Is there an optional block that can be included in modal similar to dialog

[2020-06-09 05:43] seratch commented on #719
You can use `optional` flag as with dialogs. Please refer to https://api.slack.com/reference/block-kit/blocks for details.

[2020-06-09 15:39] sangeethavenkatesan commented on #719
thank you:)

[2020-06-09 16:29] olarapio commented on #609
@seratch Thank you very much! It worked for me!!

[2020-06-11 00:02] seratch commented on #609
@gbs278 I've verified with `slackclient==1.3.2` just in cases but I was not able to see the same situation. Can you verify if you're using the right token for it?

Also, the second screenshot publicly exposed your bot token. I've removed the file from your comment and deleted the history but I recommend revoking the token as soon as possible.

[2020-06-12 18:22] pbrackin opened #721 "Django queries adversely affected by Slack RTM Client. Possibly."
### Description
This is a very strange issue...

The nutshell is that it seems like the Sync Slack RTM Client can cause issue with the Django ORM over time, causing DB queries to be "blanked" .  Everything works fine at first, but after some time - on the order of like a few hours in my experience - the queries start getting blanked.

A detailed description is in [this SO](https://stackoverflow.co

[2020-06-13 00:34] seratch commented on #721
Thanks for writing in.

It seems the debug logging in v2.2 is done here: https://github.com/django/django/blob/2.2.13/django/db/backends/utils.py#L102-L111

Does the issue affect only debug logs? If so, something wrong with `last_executed_query` inside Django might be happening when running with aiohttp for a while. It seems the method's behavior depends on which RDB you use.

As you may be aware,

[2020-06-13 15:13] pbrackin commented on #721
Thanks for your analysis.  Sorry if I wasn't clear enough on this...

The issue doesn't just affect the debug logs, it affects the actual DB query.  It basically stops the query from happening at all.  I mentioned about the debug logs as that is the easiest way to see what is going on.

The Django project is ramping up async support, but it is far from complete at this point, according to my under

[2020-06-14 00:52] seratch commented on #721
Thanks for sharing more details. Indeed, this is a really weird issue and I'm not sure what can help this. The management of `callbacks` in `RTMClient` is so simple that I'm not sure why the execution of the method can be affected that way.

To me, this sounds there may be some issues with the Python runtime although I don't have any evidence. As asyncio is part of the Python standard library, upg

[2020-06-14 21:19] aoberoi commented on #597
I agree with @payamazadi that there should be no difference between what the Python SDK returns and what the vanilla HTTP call returns. As far as I'm aware, the Python SDK isn't currently post-processing any responses to remove any data.

@seratch were you able to confirm that there's a difference in behavior when calling `users.info` from the Python SDK versus using the "Tester" tab on the docume

[2020-06-14 21:48] aoberoi commented on #537
It seems like this issue was a question regarding rate limits and how they apply. It seems the question is answered.

Just to be extra sure, the takeaway is that when an app is listening to events (whether over RTM or Events API) those messages can arrive much quicker than the rate limit for Incoming Webhooks. That means calling an Incoming Webhook in response to those events can result in the des

[2020-06-14 21:48] #537 closed

[2020-06-14 22:35] seratch commented on #597
@aoberoi As described in this issue, we see a difference in `fields` property. Indeed, the token type was not clearly mentioned. You can easily reproduce it by sending a request with your user token (xoxp-), not a legacy token.

[code]

[2020-06-15 19:10] usubram commented on #584
Hello awesome folks from slack!! With RTM deprecated what is the alternative for the below usecase?

- With Event a bot solution is forced to go to public
- The data being fed to the bot is not public for events api to access.
- Not all usecase in the organization requires distributed apps.
- There is no way in Web api to push a message to bot and receive response back.

i'm wondering why slack ha

[2020-06-16 10:44] romutchio commented on #476
@seratch Well, how to fix this problem? Which version of slackclient i should use?

[2020-06-16 11:35] seratch commented on #476
@romutchio If you want to use `run_async=True` (= use aiohttp), this issue is not yet fixed. If you don't have the intention to use aiohttp/asyncio for API requests, try the latest one (v2.7.1).

[2020-06-16 22:09] jococo93 opened #722 "slackclient cant connect"
### Description

My slack bot can't connect to my python script. I have double checked my auth token and I'm definitely using the right one

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [ ] enhancement (feature request)
- [x] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've

[2020-06-16 22:50] seratch commented on #722
Hello, to help you out, could you share a bit more details such as slackclient version, the source code, and so on?

[2020-06-16 22:53] jococo93 commented on #722
Slackclient version: 2.7.1
Soure code:
import os
import time
import re
from slackclient import SlackClient

# instantiate Slack client
slack_client = SlackClient("xoxb-1187446287986-1186666405605-s2pL09dkyb4jlVJtCAKV3qbH")
# starterbot's user ID in Slack: value is assigned after the bot starts up
starterbot_id = None
slack_token=os.environ.get("SLACK_BOT_TOKEN")
print(slack_token)
# constants
RTM_

[2020-06-16 23:00] seratch commented on #722
@jococo93 The source code you shared includes a raw token value. I've edited your comment and deleted the history. But the original messages have been sent out to subscribers. Please revoke he token as soon as possible.

Thanks for sharing this. I will take a look at it later.

[2020-06-17 00:40] seratch commented on #722
It seems you're using v1.x. `slackclient.SlackClient` class exists only in v1.x. The way in v2 is:

[code]

Also, I see some confusion in the following code. The `slack_token` is unused. The `SlackClient` doesn't use the env variable. Verify if the client uses the right token.

[code]

If you're having a difficulty to set up a project with a valid version of `slackclient`, try following the steps

[2020-06-17 02:28] jococo93 commented on #722
The from slack import WebClient statement doesn’t work at all

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Kazuhiro Sera<mailto:notifications@github.com>
Sent: Tuesday, June 16, 2020 8:41 PM
To: slackapi/python-slackclient<mailto:python-slackclient@noreply.github.com>
Cc: Collard, Jeffrey I.<mailto:jicollard@wpi.edu>; Mention<mailto:mention@noreply.github.c

[2020-06-17 06:18] xlanor commented on #722
I'm also encountering this issue with a monitoring shortcut that we've set at work

When generating a response using this view
[code]

and subsequently posting to it by using
[code]

where `client` was instantiated using
[code]
and `SLACK_ACCESS_TOKEN` was verified to be a valid token in the form of `xoxb-....`

I receive an error `500` from the slack api with no further details about the error.

[2020-06-17 16:19] jococo93 commented on #722
Ok so now I have the import statements and  token get statement working but the Slack API is still not authorizing the token

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: JK Tan<mailto:notifications@github.com>
Sent: Wednesday, June 17, 2020 2:19 AM
To: slackapi/python-slackclient<mailto:python-slackclient@noreply.github.com>
Cc: Collard, Jeffrey I.<mailto:j

[2020-06-18 03:20] NoAnyLove commented on #645
Having the same issue, try-except caught a `asyncio.TimeoutError` and it showed "Unclosed client session" at the end,
[code]

After some investigation, it seems that the exception might be raised inside the async with statement, https://github.com/slackapi/python-slackclient/blob/v2.3.1/slack/web/base_client.py#L259

So can we we use try-finally statement to make sure the aiohttp client session is

[2020-06-18 04:11] seratch commented on #645
@NoAnyLove Thanks for sharing this! Your suggestion looks good to me, too. To move things forward,  I want to have a unit test that always reproduces the situation first, and then would love to apply its fix as a valid solution. If you're interested in working on both, I'm happy to be review and merge it. If you're busy, I will be working on it probably next week.

[2020-06-19 06:08] NoAnyLove commented on #645
Thanks for the quick response. I'll try to work on it during the weekend.

[2020-06-21 19:00] pbrackin commented on #721
Last week I did a test with Python 2.8.1. and the problem occurred exactly the same way as with 3.6.9, so unfortunately that theory would seem to be down the tubes.   If you have any other ideas just let me know.

[2020-06-22 17:22] sofya-salmanova opened #728 "Error 'no_file_data' in files_upload method when sending binary data in 'file'"
### Description

Error 'no_file_data' in files_upload method when sending binary data in 'file'

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guide

[2020-06-22 22:02] ruberVulpes opened #729 "Add Support for admin.conversations.restrictAccess methods"
### Description

I was hoping to have the new [admin.conversations.restrictAccess](https://api.slack.com/methods#admin.conversations.restrictAccess) methods be added. I'm currently just using `WebClient.api_call` for the methods.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [X] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing

[2020-06-23 05:23] seratch commented on #728
@sofya-salmanova
Thanks for taking the time to report this and I'm sorry for the inconvenience. As you pointed out, this is an incompatibility issue since v2.6.0. We'll be releasing a new patch version including a fix for it at the latest within a few business days.

As a workaround, utilizing `io.BytesIO` works for you. If you're in a hurry, please try this workaround out.

[code]

[2020-06-23 16:32] jeffbuswell commented on #718
This seems to happen with all endpoints, not just teams, and only very occasionally. Probably a bug with the actual slack api itself, not the python client, but would be nice if the client handled it gracefully.

[2020-06-24 01:29] #728 closed

[2020-06-24 11:03] hugo-ricateau-tiime opened #732 "files_upload silently failing"
### Description

`.files_upload` does not upload files whereas the response looks valid

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](h

[2020-06-24 11:33] seratch commented on #732
The parameter name is not channel but channels.
https://api.slack.com/methods/files.upload

[2020-06-24 12:20] hugo-ricateau-tiime commented on #732
Indeed... sorry for the noise 😕.

Honestly, I think this behaviour is a bit confusing: I would have expected a `TypeError` for such an unexpected argument; silently ignoring it is not really user friendly. A clear signature for each `WebClient`'s method would be more than welcomed.

[2020-06-24 12:20] #732 closed

[2020-06-24 13:13] liorblob opened #733 "Better error handling when getting TimeoutError in RTMClient#start()"
### Description

Getting errors while listening to the RTM websocket.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [X] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [X] I've read and understood the [Contributing guidelines](https://github.com/

[2020-06-24 14:11] seratch commented on #733
As the code you shared looks incomplete, I haven't understood what the difficulty you're having is yet.

If you see an issue on this library end, could you share a minimal working example that reproduces the issue? If you need help with writing your app, please share your goal in a bit more detail and the whole implementation. Reading [the doc](https://slack.dev/python-slackclient/real_time_messag

[2020-06-24 14:41] liorblob commented on #733
I cannot reproduce this error... My issue is that I cannot catch the exception after I use `rtm_client.start()`.
Also I'm wondering if that can be solved by adding this to the condition: `if  self._websocket and not self._websocket.closed:`
![image](https://user-images.githubusercontent.com/35098543/85576990-89d83980-b641-11ea-9f36-d0540eb605e6.png)

[2020-06-24 15:18] seratch commented on #733
Thanks for your prompt reply!

Although I'm not sure why the situation may arise yet, there is nothing else we can do apart from just returning for the case.

[code]

[2020-06-25 06:13] sennav opened #734 "Post ephemeral results in channel_not_found in direct messages"
### Description

Hello, this may be a very beginner question but I'm finding it quite confusing and the documentation is not helping out. Whenever my bot receives a slash command from a direct message channel I get a payload like this:

[code]

And if I try to use postEphemeral like the following:
[code]

I get a `channel_not_found` message, what am I missing here?

### What type of issue is this?

[2020-06-25 06:44] dorko20 opened #735 "Customer logger called from RTMClient doesn't work with the latest slackclient"
### Description

When I create my own logging logger which is called after the RTMClient starts , it doesn't print anything back, only messages from RTMClient are printed back.
I tried many different ways, to log my messages in a separate file, with separate handlers, but nothing works.
Even simple `print()` statement doesn't work after the RTMClient starts.

### What type of issue is this? (place

[2020-06-25 15:21] JohnPaton commented on #405
Also just ran into this. Making loads of api calls and iterating over thousands of channels just to find the ID that matches the name I have seems... inefficient.

[2020-06-26 04:22] pbrackin opened #736 "client_msg_id missing from messages with attachments"
### Description

For all messages without attachments we see client_msg_id as a root element in the message event data.  For all messages with attachments, we do not see any element client_msg_id anywhere.  Same for RTMClient or EventsAPI.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [

[2020-06-26 06:42] seratch commented on #735
I've tried your code and everything went well for me. https://github.com/seratch/python-slackclient/blob/bdd1f900a61341ed91ab2ad789d414dc37ba2461/integration_tests/samples/issues/issue_735.py

One thing I've noticed while running your code is:

It seems this state raises a `TypeError` with Python 3.8. You can modify the code like `logger.info(f'text: {text}')`.

[code]

If your code may be affecte

[2020-06-26 07:30] seratch commented on #736
Thanks for taking the time to report the inconsistency issue.

As this is a server-side issue, I will share your feedback with the teams concerned. In the meantime, we can keep this issue open for a while, but this project (Python API SDK) won't have anything further we can do for you.

If you have similar feedback that is not specific to this SDK, please contact our customer support team from htt

[2020-06-26 08:44] dorko20 commented on #735
Thank you @seratch for your reply,
unfortunately it is still not working for me.

Here is my python3 venv environment and all packages installed there:

[code]

And some additional info:

[code]

And here is the log result from the code I am using:

[code]

As you can see, none of my logger message is displayed after bot receives a slack message.
It is impossible to me to debug my code right now,

[2020-06-26 08:56] seratch commented on #735
It seems an exception was raised in the middle of listener execution. Check the ERROR logging. Probably the lack of some logs is just a result. The cause is the unhandled exception.

[2020-06-26 09:31] dorko20 commented on #735
Thanks @seratch again for your reply,
finally I figured it out! Indeed I had an error in the middle of the listener execution, which I didn't realize it's coming from the main listener but I was expecting the error is caused by a wrong value returned from my called function.

Thanks again, we can close this case.

[2020-06-26 10:21] seratch commented on #735
I’m glad to hear that! Enjoy working with Slack APIs!

[2020-06-26 10:22] #735 closed

[2020-06-26 16:04] pbrackin commented on #736
Great thanks for forwarding this on.  For future reference, what is the recommended path to report these types of issues?

[2020-06-26 16:35] seratch commented on #736
Thanks for your understanding and asking this. When you submit a message about the Slack Platform from https://slack.com/help/requests/new , it will be assigned to a technical support agent. They'll relay your feedback to the right people.

[2020-06-29 13:39] nmertaydin opened #737 "Websocket_client 0.57.0 support"
### Description

Currently, SlackClient supports websocket_client >= v.35.0 and < v.55.0. Any chance that it supports websocket_client 0.57.0 any time soon?

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [x] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the

[2020-06-30 01:30] seratch commented on #737
@nmertaydin Thanks for taking the time to write in! Unfortunately, we're no longer actively supporting v1.x. We may release a new patch version only when we see some critical issues with it (e.g., critical security issues) but I'm not planning to take actions in the short term.

[2020-06-30 07:47] nmertaydin commented on #737
Thanks for the explanation and comment @seratch we'll consider migrating to v2.x, then. 👍

[2020-06-30 07:47] #737 closed

[2020-07-01 07:05] iamtofr opened #738 "make use of HTTP_PROXY/HTTPS_PROXY environment variables"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [x] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/python-slackclient

[2020-07-01 08:46] seratch commented on #738
@iamtofr Thanks for taking the time to write in here!

We may add a new option to set `trust_env` in `BaseClient` constructor args in the future.

In the short term, could you consider using `session` arg instead? Here is a simple example demonstrating how to use the argument.

[code]

[2020-07-01 21:35] praveen2593 opened #739 "Issue: Running into `URLError <urlopen error The write operation timed out>` when uploading CSV file through API"
### Description

Hi Folks, I am running into `URLError <urlopen error The write operation timed out>` when uploading CSV file of large size (~200MB). The file is eventually uploaded into slack, yet the code breaks with that error. Can anyone explain why that's happening?

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [ ] enhancement (feature request)
- [x] question

[2020-07-01 22:14] #645 closed

[2020-07-01 22:16] seratch commented on #739
Seemingly the uploading request took more than 30 seconds. The default timeout is the period of time. You can customize the value by timeout arg in the constructor.

* https://github.com/slackapi/python-slackclient/blob/v2.7.2/slack/web/base_client.py#L41
* https://github.com/slackapi/python-slackclient/blob/v2.7.2/slack/web/base_client.py#L564

[2020-07-01 22:31] seratch commented on #734
👋 Let me know if you need anything further here. Please allow me to close this issue after waiting for your response for a few weeks.

[2020-07-02 07:06] praveen2593 commented on #739
So now it throws a `URLError: <urlopen error [Errno 32] Broken pipe>`
Is there a limit on file size?

[code]

[2020-07-02 07:32] seratch commented on #739
It's [up to 1Gb in size](https://slackhq.com/how-to-share-files-in-slack) but, when your operation to upload a file takes long, timeouts or network issues between Slack API and your end may occur much more often.

If you set `run_async=True` in the `WebClient` constructor, this API client internally uses [aiohttp](https://docs.aiohttp.org/en/stable/). In this mode, it runs asynchronously (you need

[2020-07-02 16:47] pbrackin commented on #736
Just to follow up on this... CS person Zach facilitated an interaction with the Slack dev team for me on this.  What they said was a little weird.  They said it was actually a mistake that they had the client_msg_id in the event structure anywhere at all (this despite the fact that it is actually almost everywhere) & that they intended to "clean up the event structure over time".  Initially, they

[2020-07-02 22:49] pbrackin commented on #721
After over a month, I never got any help from the SO Community to the question I raised there.   So, I just went ahead and answered it myself concluding that is is just bad interaction between the Slack Client and Django.   Limiting the process runtime to 1 hour seems to work ok >99% of the time.

[2020-07-03 15:01] sennav commented on #734
Thanks for your answer and sorry for not getting back earlier. I guess this point could be clarified in the documents if possible.

Is there something similar scheme for view submissions? For instance, if as a response to my command I post an ephemeral message with buttons, these buttons trigger modals and when the user completes the tasks on those modals I want to post another ephemeral message t

[2020-07-04 08:54] praveen2593 commented on #739
I'll try the async mode, to see if that works. And about the remote sharing, is it possible to use aws s3 platform here?

[2020-07-04 11:48] seratch commented on #739
You can use S3 as long as the files are accessible to your end-users. You don't need to give a permission to Slack API servers.

[2020-07-05 21:56] mdeggies opened #741 "Submitting modal from views_open() always fails"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [ ] enhancement (feature request)
- [x] question
- [x] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/python-slackclient

[2020-07-05 23:28] seratch commented on #741
Hi, thanks for sharing this!

I'm afraid that you haven't yet set up the Request URL in the **Interactivity & Shortcuts** section. To receive view submission requests, telling your endpoint URL to the Slack API server beforehand is required. Refer to https://api.slack.com/interactivity/handling#setup for more details.

<img width="400" src="https://user-images.githubusercontent.com/19658/86544528-

[2020-07-09 12:15] Arszilla commented on #739
@seratch is it possible to set the timeout to be "indefinite" i.e never timeout? If I use `timeout=0` I get `urllib.error.URLError: <urlopen error [Errno 115] Operation now in progress>`, which can be resolved by setting `timeout=0` to any other number besides 0, but I'd rather have an "indefinite" timeout where the upload would retry until it succeeds.

[2020-07-09 12:24] seratch commented on #739
@Arszilla We're not planning to implement such. Please set an extremely large timeout and implement your own retry logic.

[2020-07-09 12:40] Arszilla commented on #739
Understandable. Right now I have a 600 second timeout but was curious if an "indefinite" setting was to be implemented.

Cheers @seratch

[2020-07-09 22:08] secmesh opened #743 "urllib library does not parse authenticated proxy well and fails"
### Description

The urllib library does not parse authenticated proxies very well. It fails every time since an older version of urllib is being used. Can this be changes to use urllib3 please? As of right now this is a complete blocker for anyone who wants to use authenticated proxies which the older urllib library is NOT able to parse.

### What type of issue is this? (place an `x` in one of th

[2020-07-10 00:01] seratch commented on #734
@sennav Sorry for my late reply here. You can use the combination of`response_url_enabled` and `default_to_current_conversation` in an input block for it. https://api.slack.com/surfaces/modals/using#modal_response_url

[2020-07-10 11:28] dzudi941 opened #744 "DatePickerElement's initial_date doesn't accept "10" or "20" for day value"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x ] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x ] I've read and understood the [Contributing guidelines](https://github.com/slackapi/python-slackclie

[2020-07-10 11:51] seratch commented on #744
@dzudi941 Thanks for taking the time to report this! Yes, this is a bug... AlthoughI wrote [a unit test](https://github.com/slackapi/python-slackclient/blob/v2.7.2/tests/web/classes/test_elements.py#L199-L200) for it, the test code also had a bug (`range(1 - 12)` .... 🤦 )

I will be working on this soon. If you have time for making a PR, I'd love to merge your fix.

[2020-07-11 01:04] seratch commented on #729
Also, `conversations.mark` is not public.

[2020-07-12 02:26] pattrickrice commented on #609
You'll see a warning saying "This scope is deprecated. Please update scopes to use granular permissions." but don't upgrade to the newer permission model

This scope is no longer accessible @seratch. Any idea how to proceed?

[2020-07-12 02:39] pattrickrice opened #746 "Clearer guide for RTM app config creation"
### Description

I am trying to build a slack app that connects to an enterprise slack service. Following the instructions on the README, my app cannot connect. It also doesn't output anything during this failure so i had to set a logging level. The documentation _should_ at least explain this failure mode somewhere if it's not a supported feature.

### What type of issue is this? (place an `x` in

[2020-07-12 07:10] #744 closed

[2020-07-12 07:14] seratch commented on #746
Thanks for taking the time to report this. To use RTM API, you need to create a "classic" app instead. Please follow the steps I've shared here: https://github.com/slackapi/python-slackclient/issues/609#issuecomment-639887212

Also, I will update the README and the documents to be up-to-date.

[2020-07-12 15:38] andronat opened #747 "Small issue with the documentation in the Tutorial"
### Description

In the tutorial's section: **Give your app permissions** [here](https://github.com/slackapi/python-slackclient/blob/main/tutorial/01-creating-the-slack-app.md#give-your-app-permissions) it is mentioned:

**Bot User** is no longer available in the API home page.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [ ] enhancement (feature request)
- [ ] q

[2020-07-12 16:07] pattrickrice commented on #746
Hi @seratch, I left a comment on that issue too. I went through the workflow of creating a classic app and the bot scope is not available to be selected as well as the app home page doesn't contain the option for legacy bot user. Please advise.

[2020-07-13 00:41] seratch commented on #609
@pattrickrice

You can add `bot` permission in the select menu this way:

<img src="https://user-images.githubusercontent.com/19658/87260340-596f1700-c4ec-11ea-9144-8cb03d0052ea.gif" width=500>

And then,

* Add a bot user in **App Home** section
* Install the app from **Install App** section

<img src="https://user-images.githubusercontent.com/19658/87260438-dbf7d680-c4ec-11ea-9a33-bc5a2cdbf772.g

[2020-07-13 00:42] seratch commented on #746
@pattrickrice I've replied with a few GIF images in the thread. The UI may be a bit confusing but it's still available. https://github.com/slackapi/python-slackclient/issues/609#issuecomment-657302548

[2020-07-13 02:46] #747 closed

[2020-07-13 02:47] seratch commented on #747
Thanks a lot for taking the time to report this! I've updated the page.

[2020-07-13 04:35] #746 closed

[2020-07-13 05:00] seratch commented on #741
Now that the document mentions the Slack app configuration that is necessary for running the code snippet, please allow me to close this issue. Thanks for your great feedback here.

[2020-07-13 05:00] #741 closed

[2020-07-13 05:52] seratch opened #750 "Changing default branch name + docs generation"
## Description

### Conditions

We were going to change the default branch from `master` to `main` and it worked well except GitHub pages generation. Under the following circumstances, the GitHub Pages generation doesn't work.

* The default branch is `main` not `master`
* `/docs` directory contains static content (e.g., HTML, images, CSS etc)

For reference: https://github.com/slackapi/python-sla

[2020-07-13 06:48] seratch commented on #750
I noticed GitHub has been having an issue: https://www.githubstatus.com/incidents/j597fw8kv04c

<img width="600" src="https://user-images.githubusercontent.com/19658/87278756-2e061f80-c520-11ea-9003-465732eb2040.png">

I've sent an inquiry about the build failure to GitHub support. If they say the error was due to tentative issues such as service outage, we'll just try renaming the default branch

[2020-07-13 08:24] seratch commented on #750
According to GitHub support's response, there should be no issue with publishing GitHub Pages site from `/docs` on the `master` branch while using the `main` branch as the default. My operations might be affected by the beginning of today's outage. https://www.githubstatus.com/incidents/j597fw8kv04c

I will make the `main` branch the default again and will see if it works.

[2020-07-13 14:38] seratch commented on #750
I've verified it works without any issues. I'm sorry for my confusion here but I'm releaved to know we don't have this issue.

[2020-07-13 14:38] #750 closed

[2020-07-13 14:39] seratch commented on #739
@Arszilla I'm glad to know you've found your solution around this issue. Can we close this issue now as it seems we don't have anything further to discuss here?

[2020-07-13 15:52] praveen2593 commented on #739
@seratch Thanks. We can close it. I'm good on my end!! 👍

[2020-07-13 15:59] #739 closed

[2020-07-15 18:43] ilovemysillybanana opened #753 "Unclear how to override default URL"
Using the latest version of this plugin, how do we specify custom urls?

Say our slack is located at: `banana.slack.com`.

[2020-07-15 21:20] seratch commented on #753
@ilovemysillybanana
You can customize the base URL this way:
[code]

See also: https://github.com/slackapi/python-slackclient/blob/v2.7.2/slack/web/base_client.py#L40

If this is helpful to you, could you close this question?

[2020-07-16 07:49] #718 closed

[2020-07-16 07:53] #733 closed

[2020-07-16 18:28] NateVolt commented on #476
@seratch I am experiencing the same issue on 2.7.2. Has there been any progress on this issue?

Error
[code]

Slack code
[code]

Snippet of the calling code.
[code]

[2020-07-16 20:52] seratch commented on #476
@NateVolt Your issue looks a bit different from the one discussed here. Your issue is about WebSocket connection establishment in `RTMClient` and its underlying aiohttp library while this issue is about `WebClient` in `run_async=True` mode. I don't have any clear answer for your question yet but according to the stack trace, it may be related to your proxy settings.

[2020-07-16 22:43] sharathsridhar opened #756 "Unexpected keyword argument 'channel'"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [ ] enhancement (feature request)
- [x] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/python-slackclient

[2020-07-16 22:59] clavin commented on #756
👋 Thanks for asking!

For the general `api_call` method you should pass a dictionary of the API arguments to the `json` parameter in this case. In fact, it looks like [this example in the docs](https://slack.dev/python-slackclient/basic_usage.html#calling-any-api-methods) is exactly like your own example.

[code]

[2020-07-16 23:11] seratch opened #757 "Add two missing endpoints in WebClient"
### Description

The following API methods are not yet supported in `WebClient`. They should be added in v2.7.3 release.

* admin.usergroups.addTeams
* calls.participants.remove

ref: #754

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [x] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requiremen

[2020-07-17 00:38] seratch commented on #729
PR #754 resolved this issue. The change will be included in v2.7.3.

[2020-07-17 00:38] #729 closed

[2020-07-17 00:45] seratch commented on #675
As we no longer have an active conversation here and I've already answered with detailed instructions above, please allow me to close this issue now. If you have trouble with the above steps, feel free to write in here or reopen this if necessary.

[2020-07-17 00:45] #675 closed

[2020-07-17 02:45] sharathsridhar commented on #756
This be beautiful. This worked. Thank You!

[2020-07-17 03:17] #756 closed

[2020-07-18 14:14] happyshows commented on #741
@seratch I have the right interactivity endpoint setup and the endpoint can receive the modal id. I am using fastapi not flask btw.

![image](https://user-images.githubusercontent.com/3208181/87854325-d4627400-c8d6-11ea-9a6c-84b0ef7a8343.png)

![image](https://user-images.githubusercontent.com/3208181/87854336-e217f980-c8d6-11ea-8687-479258c63871.png)

[code]

I guess the issue seem to be slackcli

[2020-07-21 08:14] #757 closed

[2020-07-21 16:41] KerberosMorphy opened #761 "ImportError on `from slack import WebClient`"
### Description

ImportError on `from slack import WebClient` but not on `from slack.web.client import WebClient`.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the

[2020-07-21 19:54] #753 closed

[2020-07-21 21:51] seratch commented on #761
The common cause of this is having `slack` PyPI package in your package list.

You may install both `slack` and `slackclient` (you can check this by `pip freeze`). PyPI package `slack` is a different one. Could you try `pip uninstall slack` (and just in case reinstall `slackclient`)?

[2020-07-21 22:07] KerberosMorphy commented on #761
Yep thanks, it's that. the uninstall didn't remove  `/home/USER/.local/lib/python3.8/site-packages/slack/`. My packages are a mess so.

It works as expected on AWS Lambda (which only have what it should).

I'll do a little cleanup on my pc and I close this issue.

Thanks again.

[2020-07-21 22:07] #761 closed

[2020-07-22 17:05] coltenkrauter commented on #743
I am having a similar issue and I think it is related.

[code]

[2020-07-23 13:10] Dwyte opened #762 "How to edit/update image an image attachment from a message? Is this possible?"
### Description

I have an image that changes in real time, basically I take snapshots from time to time, and I need to be able to send that image on a channel with the changes. Send the first image in a message and then just replace the image attached by a new updated image from time to time. I don't wanna clutter a channel with multiple images, I want one single message with image then the image

[2020-07-24 03:38] seratch commented on #734
@sennav Let me know if you need anything further here. Please allow me to close this issue after waiting for your response for a few days.

[2020-07-27 03:13] seratch commented on #762
Unfortunately, it's not possible to realize the user experience by uploading several files and calling `chat.update`.  Let me share two alternative solutions. I know these solutions are not fully equivalent to your original plan. But I hope this is helpful to you.

### 1: Remote files' preview_image

If you're fine with using the [remote files API](https://api.slack.com/messaging/files/remote), yo

[2020-07-27 17:39] iamarora opened #763 "Random timeout errors when calling views_publish"
### Description

Recently started seeing random timeout errors while calling views_publish on webclient. Everything was fine until a few days ago.
I checked with the slack support team as I suspected something to do with the API, they were not able to replicate the same with the API and suggested that I raise the issue here as I was using the python client.

### What type of issue is this? (place

[2020-07-27 21:49] seratch commented on #763
Could you try the latest version - v.2.7.3 out? Although we had [similar issues](https://github.com/slackapi/python-slackclient/issues?q=is%3Aissue+TimeoutError) particularly with old versions (older than 2.6), the latest version should not have this issue.

[2020-07-27 23:16] minniss opened #764 "Loading slackclient fails in Google Cloud Functions (Python 3.7)"
I have been using this library for over a year now without any issues at all.

Now when I try to deploy a google cloud function (python37) with slackclient==2.7.0 or slackclient==2.7.3 or even slackclient==2.0.0, the function cannot be deployed anymore.

The error from google cloud build is:

**ERROR: (gcloud.functions.deploy) OperationError: code=13, message=Function deployment failed due to a he

[2020-07-28 00:38] seratch commented on #764
@minniss I haven't tried this out on my own yet but allow me to ask a few questions for more details.

The title of this issue mentions v2.7.0 specifically but it seems your issue is not slackclient's version-specific. This situation arises with any versions of slackclient, right?

Is it possible to ask you to provide more information about the repro steps? I can deploy a cloud function on my own

[2020-07-28 03:15] fe-rruiz commented on #764
Hi @seratch,

Supporting @minniss's comment, I'm having the same issue with slackclient==2.5.0 (I tried with 2.7.0 too). No specific steps, just importing slack client's library.

Thank you!

![Screen Shot 2020-07-27 at 21 56 41](https://user-images.githubusercontent.com/48485385/88614265-000ef800-d055-11ea-9df6-47f9c6afc4a0.png)

![Screen Shot 2020-07-27 at 21 56 33](https://user-images.githubuse

[2020-07-28 03:33] seratch commented on #764
Thanks. I just confirmed anyone can easily reproduce this situation with `slackclient` package while it doesn't happen with other PyPI packages (I've verified with `boto3`).

[2020-07-28 04:05] seratch commented on #764
It seems to be an issue on Google Cloud side. It fails with Python 3.7 while it works with Python 3.8 (beta) 🤔

<img src="https://user-images.githubusercontent.com/19658/88617962-dac0cf00-d0d2-11ea-97d7-a326523c6ab2.png" width=600>

[2020-07-28 05:00] iamarora commented on #763
Thanks for the quick response. I upgraded the slackclient on my local and ran my snippet 10 times and got no timeout. :)
I'm upgrading the version on my production and will keep an eye out there as well, should get to know the results of that within a day as I was getting frequent timeouts there as well. Will post here once resolved. Thanks!

[2020-07-28 07:19] iamarora commented on #763
So, I did get a few more timeouts on my production after making sure the updated packages were being used on production.
I tried to replicate this on my local with a test workspace and got the below stacktrace. Ran about 10 requests all of them succeeded in ~1 second but one of them timed out in 30 seconds.

Any other recommendations?

[code]

[2020-07-28 08:50] takura commented on #764
The current workaround is to specify **yarl==1.4.2** in your requirements.txt

[2020-07-28 09:06] seratch commented on #764
Thanks, I worked for me!

yarl is one of aiohttp's dependencies. Its latest version 1.5.0 was released two days ago.
* https://pypi.org/project/yarl/1.5.0/
* https://github.com/aio-libs/yarl/compare/v1.4.2...v1.5.0

Probably, the version is incompatible with the Google Cloud Functions runtime.

[2020-07-28 09:12] minniss commented on #764
Thanks @takura !! This also works for me.. I owe you a beer next time you are in Belgium 😄

[2020-07-28 22:10] seratch commented on #764
As we found a workaround for it, please allow me to close this issue. Thanks a lot for flagging this @minniss and we really appreciate your help @takura !

[2020-07-28 22:10] #764 closed

[2020-07-29 15:46] seratch opened #765 "Introduce AsyncWebClient/AsyncWebhookClient providing coroutines"
### Description

As a preparation for the next generation SDK, we need to have new WebClient and WebhookClient providing more async/await friendliness. The goals we achieve in this task are:

* We add async versions of `WebClient` and `WebhookClient`
* We don't bring any breaking changes to existing `WebClient` and `WebhookClient`
* We don't support only `asyncio` and `aiohttp` - we don't support

[2020-07-29 23:04] seratch opened #767 "Header block support"
### Description

Header Block is now available.

https://api.slack.com/reference/block-kit/blocks#header

[code]

All we need to do is add `HeaderBlock` class and corresponding tests.

* https://github.com/slackapi/python-slackclient/blob/main/slack/web/classes/blocks.py
* https://github.com/slackapi/python-slackclient/blob/main/tests/web/classes/test_blocks.py

### What type of issue is this? (pl

[2020-07-31 10:38] Dwyte commented on #762
@seratch thanks, will try this!

[2020-07-31 13:35] laurikoobas commented on #763
Something very similar (same errors appearing randomly) happening here, version 2.7.3

[2020-07-31 13:50] seratch commented on #763
@iamarora @laurikoobas

The server-side has been having an issue with some of the APIs for a few days. You may be affected by the issue. We're sorry for the inconvenience.

https://status.slack.com/2020-07/7d32ad54b0703c47

[2020-08-03 04:40] #765 closed

[2020-08-03 11:44] seratch commented on #738
If you're using the sync-mode (the defualt: `run_async=False`), these env variables have been supported. Check this example: https://github.com/slackapi/python-slackclient/blob/v2.7.3/integration_tests/samples/issues/issue_714.py#L17-L20

Since v2.8.0 - a new minor version that is going to be released soon, async client users can use a new option `trust_env_in_session` option in `slack.web.async_c

[2020-08-03 11:44] #738 closed

[2020-08-04 17:42] tplants commented on #728
@seratch's [workaround](https://github.com/slackapi/python-slackclient/issues/728#issuecomment-647915254) still required on 2.7.3. Is that expected?

[2020-08-05 09:02] seratch commented on #728
@tplants

This issue is about sending a `bytearray` object as below. It works already. You don't need to use `io.BytesIO` anymore.
[code]

If you're facing a different issue, could you share code reproducing your issue?

[2020-08-05 16:01] tplants commented on #728
Oh my apologies, I'm dealing with the output of `io.BytesIO().getValue()` in my code, so something like this:

[code]

And am seeing the same basic error:

[code]

[2020-08-05 23:41] seratch opened #769 "Enable User-Agent to have additional info part"
### Description

To be aligned with node-slack-sdk and java-slack-sdk, `WebClient` should support additional info part in its User-Agent header.

### What type of issue is this? (place an `x` in one of the `[ ]`)

- [ ] bug
- [x] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] testing related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x

[2020-08-05 23:46] seratch commented on #728
@tplants thanks for reporting this! I confirmed the issue and will quickly fix it in the next release coming by the end of this week.

[2020-08-05 23:50] seratch opened #770 "files.upload's file param doesn't accept bytes data"
### Description

Originally this is reported by @tplants  at https://github.com/slackapi/python-slackclient/issues/728#issuecomment-669279644

#730 resolved an issue with `bytearray` param but the change didn't support `bytes` properly.

[code]

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation relate

[2020-08-05 23:55] #734 closed

[2020-08-06 22:00] #767 closed

[2020-08-06 22:01] #770 closed

[2020-08-06 22:07] #769 closed

[2020-08-07 08:33] confiq commented on #764
I know this is closed issue but does anyone have issuetracker in google?
We are also affected by this

[2020-08-07 08:56] takura commented on #764
Here you go: https://issuetracker.google.com/issues/162329927

[2020-08-07 11:15] confiq commented on #764
ohh it's P1! the fix should be fast 🙏

[2020-08-08 09:37] seratch commented on #403
I've made Bolt for Python public this week! The new framework supports Events API and any other interactive communications with the Slack API Platform. Check the samples demonstrating how to receive and react to events.
https://github.com/slackapi/bolt-python/blob/v0.2.1a0/samples/events_app.py

As I mentioned above, I was planning to make a small library. However, while working on Bolt developmen

[2020-08-08 09:37] #403 closed

[2020-08-12 07:23] seratch commented on #763
The incident has been resolved and we have not been observing this issue after that. Please let me close this issue after waiting for further comments for a few weeks.

[2020-08-12 07:24] iamarora commented on #763
Yes, thank you, you can close this issue.

[2020-08-13 14:41] rcsrao commented on #441
@liorblob Still they are not asynchronous. All messages are serving in serial. Could you please check?

[2020-08-13 14:44] liorblob commented on #441
It's not about the messages, rather the client itself being non-blocking (`rtm_client.start()`).

[2020-08-13 14:45] rcsrao commented on #441
Ok, is there be any possibility of responding in parallel, currently, it's responding one by one.
Thanks in advance for the help.

[2020-08-13 14:46] liorblob commented on #441
I think you should try to open a different issue for this.

[2020-08-13 14:51] seratch commented on #441
@rcsrao Probably, the issue you mentioned is this one: https://github.com/slackapi/python-slackclient/issues/558 I wanted to resolve this in v2.6 but haven't managed to address it yet.

[2020-08-13 14:51] rcsrao opened #777 "How to achieve a bot can respond to Parallel queries??"
Could you please help me in getting a way for "How to achieve a bot can respond to Parallel queries?"

I am following this way,

[code]

[2020-08-13 14:54] rcsrao commented on #441
@liorblob I have posted here https://github.com/slackapi/python-slackclient/issues/777 Please check.

[2020-08-13 14:55] rcsrao commented on #441
@seratch Thank you, I will check and let you know.

[2020-08-13 14:56] seratch commented on #777
If your issue is the same as #558, `RTMClient` is not yet capable of handling events in parallel.

[2020-08-13 15:00] rcsrao commented on #777
@seratch Could you suggest which Slack client has the capability of handling realtime parallel messaging(receiving & responding)

[2020-08-13 15:12] seratch commented on #777
@rcsrao
If you're happy to switch from RTM to [Events API](https://api.slack.com/events-api), the following packages are available for you.

* https://github.com/slackapi/python-slack-events-api - This is a Flask extension for easily receiving events. You can use this along with `slack.WebClient`.
* https://github.com/slackapi/bolt-python - This is **still in alpha** but it will be the next genera

[2020-08-13 21:45] ruberVulpes opened #778 "Add support for View objects for views.push/update/publish"
## Description

Typing is inconsistent between the methods that support views.open and views.push/update/publish

Currently only views.open supports the View Objects
[code]

### Category (place an `x` in each of the `[ ]`)

* [x] **slack.web.WebClient** (Web API client)
* [ ] **slack.webhook.WebHookClient** (Incoming Webhook, response_url sender)
* [ ] **slack.web.classes** (UI component builders)

[2020-08-13 21:55] ruberVulpes commented on #778
Submitted #779 to add support based on existing code from `views_open`

[2020-08-13 22:26] seratch commented on #778
This issue has been resolved by #779 - I will be releasing a new patch version soon.

[2020-08-13 22:27] #778 closed

[2020-08-15 12:41] ymahawarcldcvr opened #780 "api_call("users.list") doesn't return custom fields in profile"
## Github username in response for api_call("users.list")

when doing the request for slack_client.api_call("users.list") it's not returning the github username,
[code]
should also return something like
"github_uesrname"= "username"

[2020-08-15 12:56] seratch commented on #780
@ymahawarcldcvr
I do understand this is not so convenient but custom fields are not included in users.info/users.list responses.

Please use `users.profile.get` API method for fetching custom fields. Probably, having `include_labels=1` in its arguments makes handling the response easier. Refer to https://api.slack.com/methods/users.profile.get for details.

[2020-08-16 02:04] rcsrao opened #781 "Destination Host/DNS and Ports for RTM"
We would like to open firewalls/whitelist proxies to RTM Client from our instances where they are behind the proxies. As RTM client is Websocket communication, could you please provide us the destination Host(s)/DNS and Port information?

[2020-08-16 02:57] seratch commented on #781
The WebSocket endpoint in not static. The URL will be determined when you call `rtm.connect` API method. You can connect to the returned URL in the API response. Refer to https://api.slack.com/methods/rtm.connect for details.

[2020-08-16 03:16] rcsrao commented on #781
I am aware of that they are not static. As they are not follow http protocol what could be end point for rtm.connect?

We have already whitelisted the api.slack.com* still we are getting access forbidden through proxies.

[2020-08-16 03:33] seratch commented on #781
For Web API calls like rtm.connect, you can assume the domain to allow is `slack.com`. For WS connections, the `rtm.connect` API returns any of `*.lb.slack-msgs.com` as of today.

[2020-08-16 03:40] rcsrao commented on #781
That helps @seratch
Thanks again for quick responses as always!

[2020-08-18 06:24] samhaque commented on #734
@seratch I hit a similar issue today and because I am using the Sanic framework and I need to initialize a seperate asynchronous http client to send my block kit payload to the response_url.

Is it possible to make another method in the SDK to support the response urls?

We are a enterprise grid customer and this has been a pain point for us when developing slackbots.

[2020-08-18 07:04] seratch commented on #734
@samhaque

You can use `WebhookClient` / `AsyncWebhookClient` in the latest version - 2.8.0. Please try `AsyncWebhookClient` out in your Sanic apps! As a `response_url` is a short-lived special webhook, you can use this utility for it. The following test code may be helpful for learning how to use it.
https://github.com/slackapi/python-slackclient/blob/v2.8.0/tests/webhook/test_async_webhook.py

[2020-08-18 07:19] samhaque commented on #734
@seratch looks good, but I was hoping for more of reusable client that I can initialize in the Sanic 'before_server_start' listener and specify all of our company proxy and SSL certificates, and just share this asynchronous client instance passing it a different wehook url each time.

Let me know your thoughts.

[2020-08-18 07:27] seratch commented on #734
That makes sense. But I'm not planning to add webhook supports to `WebClient` as it's a bit confusing. I'd like to explore ways to support your use cases by adding a "reusable" webhook client.

[2020-08-20 01:04] #781 closed

[2020-08-20 01:05] seratch commented on #780
Let us know if you need more help here. Please allow me to close this issue after waiting for your response for a few more days.

[2020-08-20 01:07] seratch commented on #777
As I've already provided an answer here, please allow me to close this issue now. Feel free to write in or reopen as necessary.

[2020-08-20 01:07] #777 closed

[2020-08-20 01:07] seratch commented on #763
Thanks for confirming this! I believe we can safely close this issue now.

[2020-08-20 01:07] #763 closed

[2020-08-20 01:08] seratch commented on #762
As I've already provided an answer here, allow me to close this. Please feel free to write in further or reopen this as necessary.

[2020-08-20 01:08] #762 closed

[2020-08-20 21:13] aoberoi commented on #644
Thank you to everyone who reached out or told their friends about this opportunity. This position has been filled. Slack is still always looking for great people to join the larger team - find more roles at slack.com/careers. Have a great day!

[2020-08-20 21:13] #644 closed

[2020-08-21 06:51] senthilmk opened #782 "Audit Logs API support"
## Description

Does the client have access to Business APIs not available to Standard/Plus subscription plans?

### Reproducible in:
N/A

#### The Slack SDK version

slackclient==2.5.0
slackeventsapi==2.1.0

#### Python runtime version

Python 3.6

#### OS info

ProductName:    Mac OS X
ProductVersion: 10.15.6
BuildVersion:   19G2021

#### Steps to reproduce:
N/A

### Expected result:

N/A

### A

[2020-08-21 07:42] seratch commented on #782
@senthilmk Thanks a lot for taking the time to write in here! As our Java SDK already supports Audit Logs API, we may be able to implement a client module for the API in the future (I cannot tell when to ship it though). https://slack.dev/java-slack-sdk/guides/audit-logs-api

[2020-08-24 22:06] seratch commented on #780
Please allow me to close this issue now. Feel free to write in if you have further comments.

[2020-08-24 22:06] #780 closed

[2020-08-24 22:15] seratch commented on #722
@jococo93 If the Slack server-side tells you that your token is not valid, reinstalling the app to the workspace and try https://api.slack.com/methods/auth.test/test for verifying your token. Let me close this issue now but if you have questions, feel free to open a new question issue for it.

@xlanor Sorry for my slow response here. Your issue looks a bit different. For the server-side errors, co

[2020-08-24 22:15] #722 closed

[2020-08-25 02:56] JackGabbay opened #783 "Conversations.list extra args, and types"
Are there extra args that can be added? I see a mention of it on the slack api website but no mention of what they are.

### The page URLs

- https://slack.dev/python-slackclient/conversations.html#listing-conversations

### Requirements

Please read the [Contributing guidelines](https://github.com/slackapi/python-slackclient/blob/main/.github/contributing.md) and [Code of Conduct](https://slackhq

[2020-08-25 03:16] seratch commented on #783
@JackGabbay 👋 Hi, thanks for asking this.

If you're asking about the possibility to have more information in docstrings or code in `WebClient`, we're not planning to take action for it. We intentionally add named args only for required ones. The method doesn't have any required one apart from `token`. So, the method accepts only `kwargs`.

If your question is about the way to send extra (or optio

[2020-08-25 10:37] rcsrao opened #784 "No events on app_mention"
app_mention is not listening to the events,
app_mention | Subscribe to only the message events that mention your app or bot | app_mentions:read

We had to add message.channles to makeit work (all messages) but need to filter too much of data and extra traffic.
message.channels | A message was posted to a channel | channels:history |  

Please check and help if we are missing anything on this.

[2020-08-25 11:12] rcsrao commented on #784
@seratch We have added app to the channel and subscribed bot event "app_mentions:read"
Still no luck.

[2020-08-25 11:28] seratch commented on #784
Just in case, I've verified with a brand-new app, and it works for me. Could you follow the following steps? It should work for you if your app is correctly configured.

* Run `/invite @your-bot-user` in the channel
* Post a message `@your-bot-user hello` in the channel

I'm happy to be of help to you but I'd like to keep this place as the tracker for bug reports/questions about `slackclient` PyPI

[2020-08-27 18:36] nikoe14 opened #785 "Modal update issue"
(Describe your issue and goal here)

Hey guys having an issue here creating a workflow using views... the goal is supper simple

1. Triggering a view open which is woking fine
2. After getting the response I use view_update for updating the modal with new content
3. send the response and process

the Step 2, which is the function number B below, it's updating the view and closing the modal immedia

[2020-08-27 22:07] seratch commented on #785
@nikoe14 👋 Hi, thanks for asking a question here.

To update a modal in response to a `view_submission` request, you need to go with `"response_action": "update"` in its HTTP response. https://api.slack.com/surfaces/modals/using#updating_response

If you use `actions` block for `select_service` and receive a `block_actions` request, you can use `views.update` API call to modify the modal.

[2020-08-28 03:17] nikoe14 commented on #785
Thanks!

[2020-08-28 03:17] #785 closed

[2020-08-28 03:56] seratch commented on #784
As I've already provided an answer to this question, let me close this issue now.

[2020-08-28 03:56] #784 closed

[2020-08-28 05:43] seratch commented on #783
As I've already provided an answer to this question, allow me to close this. Please feel free to write in if you have something further regarding this topic.

[2020-08-28 05:43] #783 closed

[2020-08-28 11:16] alosipov opened #788 "How to handle dialog submissions and response to slack with the func result handling received data(>3sec) after it.-"
Hi,

Spent too much time on the topic research and investigation and now need your help since i'm out of ideas and power at all =(

I'm struggling with the slack python app where it offers to a user several actions through the buttons and i\m handling them by ['type']  from "payload". One button requires further actions - pickup address details from a user.

![Screenshot 2020-08-28 at 13 45 43](ht

[2020-08-28 11:42] seratch commented on #788
@alosipov Hi, thank you for asking the question!

As you're already aware of, acknowledging a request from Slack within 3 seconds plus doing something asynchronously can be challenging.

We're actively working on a new framework. It is Bolt for Python: https://github.com/slackapi/bolt-python

The project is still in alpha and is going to be GAed within a few months. That said, all the basic featur

[2020-08-28 12:09] alosipov commented on #788
@seratch Hi Kazuhiro! Thank you very much for the response! I will definitely check Bolt framework right now! I have already spent few days as well of puzzling how to achieve that with using threads or asyncio =) Maybe you can point me to the right direction how do that with threads or asyncio for my future knowledge and development in python programming? I really did a lot of research through web

[2020-08-28 15:53] dgyates opened #789 "Setting a Subset of Users in User Select Block Element"
I'd like to be able to pass a List or Array in User List Block Element.

Our Bot looks up a backend DB to see essentially 'membership and peers' so we want the bot to display a User List Select Menu where it's just that list of specific users - vs all users in the Workspace.

Is this possible or would this be a new Feature Request?

I originally thought the `initial_user` parameter was this abilit

[2020-08-28 22:26] seratch commented on #789
@dgyates 👋 Hi, thanks for asking this question!

Unfortunately, it is not possible at this point. As long as you go with`users_select` / `multi_users_select` block elements, you are unable to customize the list of users at all. We will escalate this feedback to the teams concerned. Thanks a lot.

For a possible workaround, `static_select` or `external_select` block elements are available (as you a

[2020-08-28 23:02] ruberVulpes commented on #788
@alosipov This is how I would open up a Modal (very similar to a dialog) so I'm able to return a response fast while still continuing on in my execution. I haven't delved into async Python myself so I'm not much help there, however using threads like this has helped me improve my response time in FaaS deployments on cold starts

https://github.com/ruberVulpes/slack-modal-test/blob/threaded/app.py

[2020-08-29 07:26] alosipov commented on #788
@ruberVulpes thanks William! Will try to use your suggestion and example in my code and will report here if I'm finally win this fight :)

[2020-08-29 09:44] alosipov commented on #788
@ruberVulpes if you add sleep(5) to your interactions() func - to emulate 5 sec work with data received in submission, then same thing is happening - am i missing something?

[2020-08-29 10:36] alosipov commented on #788
@ruberVulpes running it in another Thread helped =)

def interactions():
    # Do nothing with the submission
    print('I am in func interactions \n')
    data = json.loads(request.form["payload"])
    Thread(target=run_actions, args=(data, )).start()
    return make_response("", 200)

[2020-08-31 10:44] #788 closed

[2020-08-31 13:59] kelulucaipeixi opened #790 "When I set a time.sleep(1) in handle_message function, multiple repeated responses will occur."
Hello, I have follow the instruction and try to achieve the function that I send "hello" to the chatbot and the chatbot will response me "goodbye". However, when I set a time.sleep(3), there will be a lot of same "goodbye" responses. For some reasons my project needs to get a delay response from the chatbot. If there are some ways to fix this problems?  Here is my simple test code.

![image](https

[2020-08-31 14:32] seratch commented on #790
@kelulucaipeixi Thanks for asking a question here!

As described in the document, the Slack API server may retry if your server doesn't respond within 3 seconds.

* https://api.slack.com/events-api#the-events-api__responding-to-events
* https://api.slack.com/events-api#the-events-api__field-guide__error-handling__graceful-retries

Unfortunately, the `slackeventsapi` library doesn't provide any asy

[2020-08-31 14:35] seratch commented on #789
As this SDK project doesn't have further actions to take, please allow me to close this issue now.

[2020-08-31 14:35] #789 closed

[2020-08-31 15:42] kelulucaipeixi commented on #790
Thank you very much! I'm sorry to post it at wrong place. I'll close it soon.

[2020-08-31 15:42] #790 closed

[2020-08-31 15:58] chiragkanhasoft opened #791 "Bad redirect URI error"
i have follow this url for authentication

https://slack.dev/python-slackclient/auth.html

But below code return error  `{'ok': False, 'error': 'bad_redirect_uri'}`
  # Request the auth tokens from Slack
  response = client.oauth_v2_access(
    client_id=client_id,
    client_secret=client_secret,
    code=code_param
  )
  print(response)

[2020-08-31 16:00] #791 closed

[2020-08-31 20:21] mwbrooks commented on #791
Hi @chiragkanhasoft, it looks like you've figured out the bad redirect URI error. Feel free to follow up in this issue, if you need more assistance!

[2020-09-01 00:44] cyphr3x commented on #476
Is there a solution for this?

[2020-09-01 01:17] seratch commented on #476
@cyphr3x
The current `WebClient` doesn't provide coroutines. Instead, it generates a `Future` for every single method call. I think this may be the cause of the intermittent issue.

In v2.8.0, we've introduced a more straight-forward async client named `AsyncWebClient`. All the methods in this class provide coroutines. https://slack.dev/python-slackclient/changelog.html#v2-8-0-2020-08-06

You can

[2020-09-01 02:54] cyphr3x commented on #476
[code]

[2020-09-01 03:19] seratch commented on #476
Thanks for sharing this. If you don't see any issue when you directly use [aiohttp](https://docs.aiohttp.org/en/stable/) (the underlying HTTP library) and this library does something wrong, please let us know by creating a new ticket in this project. We'll be checking the issue.

[2020-09-01 03:21] cyphr3x commented on #476
im so glad we pay you so many thousands of dollars.

HUH??????????

[2020-09-01 03:25] seratch commented on #476
My comment was not great. I just wanted to say, if you could provide us with information, it'd be greatly appreciated. We're still looking for ways to completely address this issue.

[2020-09-01 03:27] cyphr3x commented on #476
I did provide you with information.   I cant believe how difficult it is to read and reply to messages via your API.

[2020-09-02 12:57] rcsrao opened #792 "Webclient is failing the events to process"
If we send 50 messages as events at a time, we are getting ~94% accurate response and ~6% getting unanswered. Thos 6% unanswered are going as duplicate responses to already replied messages.

Using Events subscription to receive events and replying with Webclient.

ANy help would be highly appreciated.

[2020-09-02 13:28] seratch commented on #792
To help you out, I have a few questions to understand your situation.

* Are you using https://github.com/slackapi/python-slack-events-api for receiving events from Slack? If so, can you analyze your Flask app's access logs to figure out if the issue is about receiving events and/or responding to them? I'm afraid that your app may not respond to requests within 3 seconds.
* If your issue is caused

[2020-09-02 13:38] rcsrao commented on #792
@seratch Thanks for the immediate response as always. So we are using the intermediate flask app to call back the slack client. We are responding immediately to the event callout with
`
return {"isBase64Encoded": True, "statusCode": 200, "headers": { "X-Slack-Retry-Num": 3 }, "body": "Ok"}
`
And processing the request with slack.Webclient withing 3 seconds.

[2020-09-02 13:45] rcsrao commented on #792
**Flask Code to callout Slack Client**
`
@app.route('/events/<bot_id>', methods=['POST'])
def events(bot_id):
    app.logger.info(f'Received {bot_id} event from {request.remote_addr}')
    post_data = request.get_data()  # this function reads the socket (not idempotent)
    payload = json.loads(post_data)
    req = {
        'type': 'callback_req',
        'params': dict(request.args),
        'pa

[2020-09-02 13:57] seratch commented on #792
These names remind me of AWS Lambda... If you're running a simple Flask app, you can use `make_response` to construct an HTTP response.

Are you using AWS Lambda for running your Flask app? If your app is running on AWS Lambda and it has a cold-start issue (=common issue that FaaS requires a few seconds to boot a new container), it may cause timeout issues by 6%.

To avoid slow booting issues on F

[2020-09-02 14:27] rcsrao commented on #792
It's a simple Flask app to receive event and further, it will send to WebClient to respond. I don't see any errors.
I have changed response as below but no luck, still unanswered and duplicate responses are there,

[code]

[2020-09-02 15:10] cbodis opened #793 "I get circular import with the basic code"
Started with `slackclient` and using the following code from the tutorial gives me the following:

### Reproducible in:

[code]

#### The Slack SDK version

slack==0.0.2
slackclient==2.8.1

#### Python runtime version

Python 3.8.2

#### OS info

Distributor ID: Ubuntu
Description:    Ubuntu 20.04.1 LTS
Release:        20.04
Codename:       focal

### Expected result:

Send a simple message to a s

[2020-09-02 21:33] mwbrooks commented on #793
Hey @cbodis,

In our experience, the [circular dependency](https://github.com/slackapi/python-slackclient/search?q=%22cannot+import+name+%27WebClient%27%22&type=Issues) is because the system environment has both `slack` and `slackclient` installed. The solution is to uninstall `slack` (which is not our package) and reinstall `slackclient`.

You can follow this [troubleshooting article](https://sla

[2020-09-02 21:34] seratch commented on #792
Ah, never mind. Somehow, I totally forget about it 🤦

OK, I assume your app successfully receives all the events from Slack and your issue is in your code using `WebClient`.

I think you've not shared your code in these lines. How does the `process_message` method look like? Does the method properly have try/except etc not to miss all events?

[2020-09-02 21:46] seratch opened #794 "Add admin.conversations.* API methods in WebClient/AsyncWebClient"
12 new API methods are publicly available now: https://api.slack.com/admins/channels

https://api.slack.com/changelog

### Category (place an `x` in each of the `[ ]`)

- [x] **slack.web.WebClient** (Web API client)
- [ ] **slack.webhook.WebHookClient** (Incoming Webhook, response_url sender)
- [ ] **slack.web.classes** (UI component builders)
- [ ] **slack.rtm.RTMClient** (RTM client)

### Requir

[2020-09-03 01:38] rcsrao commented on #792
I have shared the process_message method in the above comment, I am resharing it here,

[code]

[2020-09-03 02:23] seratch commented on #792
Thanks. `self.web_client.chat_postMessage` may raise an exception when you got an error from Slack. In this case, probably your thread never shows the error, and then the async execution in a thread results in the silent failure. How about having try/except for the lines as well? Your app needs to recognize the error and handle the case.

Another question is: what `client['ws'].send(str)` does? I

[2020-09-03 02:47] rcsrao commented on #792
try/except also didn't throw any runtime errors,
[code]
and we are using websocket connection between Flask and WebClient
`client['ws'].send(json.dumps(req))`

[2020-09-03 02:58] seratch commented on #792
Thanks, now I understand how your app works. I conjecture something may occur (e.g., connection failures, timeouts?) in the WS communications and/or handling incoming events on the web app side. However, it seems I am unable to provide further assistance at this point. Hope I will figure out the cause very soon.

[2020-09-03 03:03] rcsrao commented on #792
Sure, interesting thing is, Flask and WebClient both are receiving events without a miss, and Webclient showing that it has processed all of them. Unable to catch the glitch yet and no errors in any trace.

[2020-09-03 03:17] rcsrao commented on #792
I suspect this is all happening with the threading which we are suing in WebClient to process the events faster. If we do concurrency 1 or without threading(one after other) they are fine but losing the ability to serve faster.

[code]

[2020-09-03 04:01] rcsrao commented on #792
[code]

[2020-09-03 04:52] rcsrao commented on #792
I think we got it, instead of firing streaming events, tried to add them to the pool and put 1 second delay (to avoid Slack rate issues) after processing each thread.

[code]

[2020-09-03 07:22] cbodis commented on #793
Hi @mwbrooks,
Thank you for your quick response, much appreciated.
That solved my issue.
Regards,
@cbodis

[2020-09-03 07:22] #793 closed

[2020-09-04 04:14] seratch commented on #794
Thanks @ruberVulpes !

[2020-09-04 04:14] #794 closed

[2020-09-07 09:57] 1oglop1 opened #799 "PEP-541 Claim PyPI name `slack`"
Hello, over the years `slack` has become a well known entity and installing it's client naturally falls to `pip install slack`.
However, current `slack` on PyPI has nothing in common `slackclient` or anything related to Slack.

I'd like a `slack` to be either primary or a redirect to `slackclient`.
Because it doesn't make much sense to do `pip install slackclient` and then `from slack import WebCl

[2020-09-07 10:15] seratch commented on #799
Hi, thanks for the suggestion! Yes, the confusion around PyPI project names is a well-known issue.

In the near future, we are going to release v3 of this SDK. In the major version, we will be changing the project name from `slackclient` to `slack_sdk` (technically `slack-sdk` also works). The major reasons for this decision are to have broader feature sets (e.g., OAuth flow supports, interactivit